rules/bots/main/flows_main.json
[{"id":"e181a3ccd38b9625","type":"tab","label":"IBB Form _main","disabled":false,"info":"","env":[]},{"id":"daa83730a63c754b","type":"mqtt-broker","name":"mb","broker":"localhost","port":"1773","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6e2ccef453963ce7","type":"ui_tab","name":"IBB CTBF","icon":"dashboard","disabled":false,"hidden":false},{"id":"af9ca4762b0f6b10","type":"ui_group","name":"Hello From IBB!","tab":"6e2ccef453963ce7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"75f3f490f844924b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"IBB","hideToolbar":"true","allowSwipe":"mouse","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e2bc7ac9aa77279e","type":"mongodb4-client","name":"botdb","protocol":"mongodb","hostname":"192.168.1.141","port":"29017","dbName":"botdb","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"","socketTimeoutMS":"","minPoolSize":"","maxPoolSize":"","maxIdleTimeMS":"","uri":"","advanced":"{\"connectTimeoutMS\": 30000}","uriTabActive":"tab-uri-simple"},{"id":"ab89627742956255","type":"debug","z":"e181a3ccd38b9625","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":80,"wires":[]},{"id":"4f987160f269af2e","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":130,"y":120,"wires":[["72e059fd3ac9fcbc"]]},{"id":"1d642075498d0c30","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":200,"wires":[["72e059fd3ac9fcbc"]]},{"id":"5419b2d0a2c7030e","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"num","x":130,"y":280,"wires":[["a3b3efded759bfbd"]]},{"id":"0270ecf5ccc3d806","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":360,"wires":[["a3b3efded759bfbd"]]},{"id":"d75ba7784161845a","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":130,"y":440,"wires":[["86c3d82b43328289"]]},{"id":"b6f9fa5357640b1a","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":520,"wires":[["86c3d82b43328289"]]},{"id":"68c9305e35457097","type":"function","z":"e181a3ccd38b9625","name":"function 1","func":"if(msg.payload != undefined || msg.payload != null) {\nvar botid = msg.payload.bot_secret;\nvar subid = msg.payload.bot_name;\n//var globalbots = [{ id: \"IBB_bot/1\", port: 1881 }, { id: \"IBB_bot/2\", port: 1880}];\nvar globalbots = global.get(\"globalbots\");\nvar globalsubid = global.get(\"globalsubid\");\nvar globalmapid = global.get(\"globalmapid\");\nconst subdata = globalsubid.find((bott) => bott === subid)\n\n\nconst botdata = globalbots.find((bot) => {\n    if (bot.id === botid) {\n        return bot;\n    }\n    return null;\n});\n\n    const mapid = globalmapid.find((map) => {\n        if (map.secret === botid) {\n            return map;\n        }\n        return null;\n    });\n\n\nif(botdata){\n    if(!subdata){\n        if(mapid){\n    //msg.payload = botdata.id + ',subID,' + subid;\n    msg.payload = mapid.id + ',subID,' + subid;\n    //msg.topic = botdata.id;\n    msg.topic = mapid.id;\n    msg.notify = \"your bot link: \" + \"ibb:\" + botdata.port + \"/ui\"\n    //msg.updatedb = botdata.id + ',subID,' + subid;\n    msg.updatedb = mapid.id + ',subID,' + subid;\n    return msg;\n    }\n    else\n    {\n        msg.notify = \"Error!\"\n        return null;\n    }\n    }\n    else {\n        msg.notify = \"Bot Name: Already In Use!\"\n    return msg;\n    }\n}\nelse {\n    msg.notify = \"Bot Secert Not Matched!\"\n    return msg;\n}\n}\n\nelse {\n    msg.notify = \"error!\"\n    return msg;\n}\n\n\n\n\n\n\n/*\n\nif (globalbots.findIndex(c => c.id === botid)){\nvar botport= globalbots.find(p => p.port)\nmsg.topic = botid;\nmsg.payload = botport;\n//msg.payload = botid + ',subID,' + subid;\nmsg.notify = \"Copy your bot link: \" + \"localhost:\" + globalbots.id + \"/ui\"\nreturn msg;\n}\nelse{\n    msg.notify = \"Bot Secert Not Matched!\"\n    return msg;\n}\n*/\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":140,"wires":[["c1a74622b4fbd735","7162af19e4112ba8","7e57fddedb21f5f5","9f02d1986912188c"]]},{"id":"c1a74622b4fbd735","type":"debug","z":"e181a3ccd38b9625","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":80,"wires":[]},{"id":"7162af19e4112ba8","type":"mqtt out","z":"e181a3ccd38b9625","name":"update_bot_name/subid","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1410,"y":140,"wires":[]},{"id":"05b97c44387418df","type":"trigger","z":"e181a3ccd38b9625","name":"reset msg","op1":"","op2":"empty","op1type":"pay","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":640,"wires":[["12155bdb2659cbc0"]]},{"id":"4855ca46128e311b","type":"debug","z":"e181a3ccd38b9625","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":640,"wires":[]},{"id":"0b2f9e6384b4c530","type":"exec","z":"e181a3ccd38b9625","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":410,"y":760,"wires":[["b9e6a13fd3fac016"],["b9e6a13fd3fac016"],["b9e6a13fd3fac016"]]},{"id":"a74a19ddd90dc53f","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ifconfig","payloadType":"str","x":210,"y":760,"wires":[["0b2f9e6384b4c530"]]},{"id":"b9e6a13fd3fac016","type":"debug","z":"e181a3ccd38b9625","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":760,"wires":[]},{"id":"7e57fddedb21f5f5","type":"function","z":"e181a3ccd38b9625","name":"function 2","func":"msg.payload = msg.notify;\nmsg.topic = null;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":200,"wires":[["30ef35175a6588ca"]]},{"id":"235c000851a8d54b","type":"function","z":"e181a3ccd38b9625","name":"function 5","func":"msg.fwddata = msg.payload;\nmsg.payload = [\"subid\"];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":140,"wires":[["883d0aef2388221a"]]},{"id":"aaf563625709084d","type":"function","z":"e181a3ccd38b9625","name":"function 6","func":"if(msg.payload){\nglobal.set(\"globalsubid\", msg.payload);\nmsg.payload = msg.fwddata;\nreturn msg;\n}\n\n//msg.testglobal = global.get(\"globalsubid\");\n//var name = \"IBB_bot/1\";\n//const result = msg.testglobal.find((bott) => bott === \"IBB_bot/1\");\n//if(result){\n  //  msg.payload = result;\n//return msg;\n//}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":140,"wires":[["8a4ab34d13cc6ac7","68c9305e35457097"]]},{"id":"8a4ab34d13cc6ac7","type":"debug","z":"e181a3ccd38b9625","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1160,"y":80,"wires":[]},{"id":"977f00c9f3e20997","type":"debug","z":"e181a3ccd38b9625","name":"debug 37","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":980,"y":200,"wires":[]},{"id":"95eab5d3b91279e6","type":"function","z":"e181a3ccd38b9625","d":true,"name":"function 7","func":"var botid = msg.payload.bot_secret;\nvar subid = msg.payload.bot_name;\nvar globalbots = [{ id: \"IBB_bot/1\", port: 1881 }, { id: \"IBB_bot/2\", port: 1880}];\n//var globalsubid = [{ subid: \"IBB_bot/1\" }, { subid: \"IBB_bot/2\"}];\nvar globalsubid = global.get(\"globalsubid\");\nconst subdata = globalsubid.find((bott) => bott === subid)\n\nconst botdata = globalbots.find((bot) => {\n    if (bot.id === botid) {\n        return bot;\n    }\n    return null;\n});\n/*\nconst subdata = globalsubid.find((sub) => {\n    if (sub.subid === subid) {\n        return sub;\n    }\n    return null;\n});\n*/\n\nif(botdata){\n    if(!subdata){\n    msg.payload = botdata.id + ',subID,' + subid;\n    msg.topic = botdata.id;\n    msg.notify = \"your bot link: \" + \"localhost:\" + botdata.port + \"/ui\"\n    return msg;\n    }\n    else {\n        msg.notify = \"Bot Name: Already In Use!\"\n    return msg;\n    }\n}\nelse {\n    msg.notify = \"Bot Secert Not Matched!\"\n    return msg;\n}\n\n/*\n\nif (globalbots.findIndex(c => c.id === botid)){\nvar botport= globalbots.find(p => p.port)\nmsg.topic = botid;\nmsg.payload = botport;\n//msg.payload = botid + ',subID,' + subid;\nmsg.notify = \"Copy your bot link: \" + \"localhost:\" + globalbots.id + \"/ui\"\nreturn msg;\n}\nelse{\n    msg.notify = \"Bot Secert Not Matched!\"\n    return msg;\n}\n*/\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":820,"wires":[[]]},{"id":"9f02d1986912188c","type":"function","z":"e181a3ccd38b9625","name":"set payload","func":"if(msg.updatedb){\nconst data = msg.updatedb.split(',');\nmsg.payload = [{_id: data[0], \"id\" : data[0]}, {$set: {subid: data[2]}}, { upsert: true }];\nmsg.topic = data[0];\nreturn msg;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":300,"wires":[["566cb0b3d7e63164"]]},{"id":"8efbd08de1014abc","type":"debug","z":"e181a3ccd38b9625","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":380,"wires":[]},{"id":"33e6b4f542a2f10e","type":"function","z":"e181a3ccd38b9625","name":"function 8","func":"msg.payload = \"readval\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":300,"wires":[["6598493f02246703"]]},{"id":"faddd26264bff81f","type":"mqtt out","z":"e181a3ccd38b9625","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1750,"y":300,"wires":[]},{"id":"6598493f02246703","type":"debug","z":"e181a3ccd38b9625","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1660,"y":400,"wires":[]},{"id":"881114d3d514faf8","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":\"IBB_bot/1\",\"port\":1881},{\"id\":\"IBB_bot/2\",\"port\":1882}]","payloadType":"json","x":550,"y":960,"wires":[["ea4fc3f96f419f14"]]},{"id":"8c6e9a9ad446cd3b","type":"debug","z":"e181a3ccd38b9625","name":"debug 134","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":960,"wires":[]},{"id":"924d5675e31cc016","type":"inject","z":"e181a3ccd38b9625","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"/rules/docs/botsecretandport.csv","payloadType":"str","x":570,"y":1060,"wires":[["4f2d6ea786d961fa"]]},{"id":"4f2d6ea786d961fa","type":"file in","z":"e181a3ccd38b9625","name":"","filename":"payload","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":560,"y":1000,"wires":[["beedf346e810f7f0"]]},{"id":"beedf346e810f7f0","type":"csv","z":"e181a3ccd38b9625","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":690,"y":1000,"wires":[["8c6e9a9ad446cd3b","74098ee60fa265bd"]]},{"id":"74098ee60fa265bd","type":"function","z":"e181a3ccd38b9625","name":"function 91","func":"global.set(\"globalbots\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1000,"wires":[[]]},{"id":"ea4fc3f96f419f14","type":"function","z":"e181a3ccd38b9625","d":true,"name":"function 92","func":"msg.payload = global.get(\"globalbots\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":960,"wires":[["8c6e9a9ad446cd3b"]]},{"id":"b2557a29fc9db8af","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":\"IBB_bot/1\",\"port\":1881},{\"id\":\"IBB_bot/2\",\"port\":1882}]","payloadType":"json","x":550,"y":1140,"wires":[["5c60befe755d044d"]]},{"id":"0e27b5efb860d461","type":"debug","z":"e181a3ccd38b9625","name":"debug 135","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":1140,"wires":[]},{"id":"f486ecdc1b708828","type":"file in","z":"e181a3ccd38b9625","name":"","filename":"payload","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":560,"y":1180,"wires":[["5321bebed6d17a23"]]},{"id":"5321bebed6d17a23","type":"csv","z":"e181a3ccd38b9625","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":690,"y":1180,"wires":[["0e27b5efb860d461","8a625d8c6fbc3ef8"]]},{"id":"8a625d8c6fbc3ef8","type":"function","z":"e181a3ccd38b9625","name":"function 93","func":"global.set(\"globalmapid\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1180,"wires":[[]]},{"id":"5c60befe755d044d","type":"function","z":"e181a3ccd38b9625","d":true,"name":"function 94","func":"msg.payload = global.get(\"globalmapid\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1140,"wires":[["0e27b5efb860d461"]]},{"id":"c2b8e16731af7afa","type":"inject","z":"e181a3ccd38b9625","name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"/rules/docs/botsecretmapid.csv","payloadType":"str","x":550,"y":1240,"wires":[["f486ecdc1b708828"]]},{"id":"d792553a461819c1","type":"ui_button","z":"e181a3ccd38b9625","d":true,"name":"","group":"af9ca4762b0f6b10","order":5,"width":"4","height":"1","passthru":false,"label":"Node-RED","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Node-RED","payloadType":"str","topic":"","topicType":"str","x":230,"y":620,"wires":[["05b97c44387418df"]]},{"id":"dc85e788f12ace76","type":"ui_button","z":"e181a3ccd38b9625","d":true,"name":"","group":"af9ca4762b0f6b10","order":6,"width":"4","height":"1","passthru":false,"label":"GitHub","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"GitHub","payloadType":"str","topic":"","topicType":"str","x":220,"y":660,"wires":[["05b97c44387418df"]]},{"id":"c47c8259e13ed8f7","type":"ui_form","z":"e181a3ccd38b9625","name":"","label":"","group":"af9ca4762b0f6b10","order":4,"width":0,"height":0,"options":[{"label":"Bot Secret","value":"bot_secret","type":"password","required":true,"rows":null},{"label":"Name Your Bot","value":"bot_name","type":"text","required":true,"rows":null}],"formValue":{"bot_secret":"","bot_name":""},"payload":"","submit":"submit","cancel":"reset","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":450,"y":140,"wires":[["ab89627742956255","235c000851a8d54b"]]},{"id":"72e059fd3ac9fcbc","type":"ui_gauge","z":"e181a3ccd38b9625","name":"H","group":"af9ca4762b0f6b10","order":1,"width":"1","height":"1","gtype":"wave","title":"","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#8bcd57","#fdeb62","#de665f"],"seg1":"","seg2":"","diff":false,"className":"","x":290,"y":160,"wires":[]},{"id":"a3b3efded759bfbd","type":"ui_gauge","z":"e181a3ccd38b9625","name":"H","group":"af9ca4762b0f6b10","order":2,"width":"1","height":"1","gtype":"wave","title":"","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#8bcd57","#fdeb62","#de665f"],"seg1":"","seg2":"","diff":false,"className":"","x":290,"y":320,"wires":[]},{"id":"86c3d82b43328289","type":"ui_gauge","z":"e181a3ccd38b9625","name":"H","group":"af9ca4762b0f6b10","order":3,"width":"1","height":"1","gtype":"wave","title":"","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#8bcd57","#fdeb62","#de665f"],"seg1":"","seg2":"","diff":false,"className":"","x":290,"y":480,"wires":[]},{"id":"30ef35175a6588ca","type":"ui_toast","z":"e181a3ccd38b9625","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1530,"y":200,"wires":[[]]},{"id":"861a848c50696cda","type":"ui_template","z":"e181a3ccd38b9625","d":true,"group":"af9ca4762b0f6b10","name":"CSS-Basics","order":8,"width":0,"height":0,"format":"<style>\n\n* {\n    background: none !important;\n}\n\n    root, a, button, p, div {\n        -webkit-user-select: none !important;\n    }\n\n    body {\n\n        background: transparent !important;\n\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 100%\n        ) !important;\n        \n        -webkit-touch-callout: none !important;\n        color: #ffffff !important;\n        padding-top:5px !important;\n    }\n    \n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n\n    }\n\n    \n    ui-card-panel {\n        background-color: rgba(250,250,250,0.3) !important;\n        border:none !important;\n        border-radius: 10px !important;\n/*        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n*/    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: none !important;\n    }\n    ui-card-panel>div.nr-dashboard-cardpanel button {\n        /*background: none !important;*/\n    } \n    md-toolbar {\n        background: none !important;\n    }\n    md-sidenav {\n        background: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n    }\n    md-card.nr-dashboard-button * {\n        box-shadow: none !important;\n    }\n    md-card.nr-dashboard-template * {\n        background: none !important;\n    }\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":130,"y":60,"wires":[[]]},{"id":"12155bdb2659cbc0","type":"ui_template","z":"e181a3ccd38b9625","d":true,"group":"af9ca4762b0f6b10","name":"window redirect","order":7,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"Node-RED\") {\n          //window.open(\"https://www.nodered.org\");\n          window.location.href = \"https://www.nodered.org\";\n        } \n        if (data == \"GitHub\") {\n          //window.open(\"https://github.com/node-red\");\n          window.location.href = \"https://github.com/node-red\";\n        } \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":600,"y":640,"wires":[["4855ca46128e311b"]]},{"id":"883d0aef2388221a","type":"mongodb4","z":"e181a3ccd38b9625","clientNode":"e2bc7ac9aa77279e","mode":"collection","collection":"bots","operation":"distinct","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":780,"y":140,"wires":[["aaf563625709084d","977f00c9f3e20997"]]},{"id":"566cb0b3d7e63164","type":"mongodb4","z":"e181a3ccd38b9625","clientNode":"e2bc7ac9aa77279e","mode":"collection","collection":"bots","operation":"updateOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":1350,"y":300,"wires":[["8efbd08de1014abc","33e6b4f542a2f10e"]]},{"id":"c5f1021af755914e","type":"mqtt in","z":"e181a3ccd38b9625","name":"","topic":"credupdate","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":1080,"wires":[["7aedf7a7a5234bd6","5e1d6048b782ee02"]]},{"id":"7aedf7a7a5234bd6","type":"function","z":"e181a3ccd38b9625","name":"function 95","func":"msg.payload = \"/rules/docs/botsecretandport.csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1060,"wires":[["4f2d6ea786d961fa"]]},{"id":"5e1d6048b782ee02","type":"function","z":"e181a3ccd38b9625","name":"function 96","func":"msg.payload = \"/rules/docs/botsecretmapid.csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1120,"wires":[["f486ecdc1b708828"]]},{"id":"8911f7be04fc32b6","type":"inject","z":"e181a3ccd38b9625","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1040,"wires":[["7aedf7a7a5234bd6","5e1d6048b782ee02"]]}]