rules/bots/bot9/.flows_bot9.json.backup
[{"id":"40bb1e0b679bdf6b","type":"tab","label":"Bot2","disabled":false,"info":"","env":[]},{"id":"daa83730a63c754b","type":"mqtt-broker","name":"mb","broker":"localhost","port":"1773","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"363320655f7b8682","type":"ui_tab","name":"IBB CTBF","icon":"dashboard","disabled":false,"hidden":false},{"id":"788dda10fec327db","type":"ui_group","name":"flags","tab":"363320655f7b8682","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"59218776686d716b","type":"ui_group","name":"response","tab":"363320655f7b8682","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"703f776ec23789a6","type":"ui_group","name":"last response","tab":"363320655f7b8682","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5f5211debfbd964d","type":"ui_group","name":"controls","tab":"363320655f7b8682","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dd3987cb43c694eb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"82acd6075ac1e4b1","type":"mongodb4-client","name":"botqadb","protocol":"mongodb","hostname":"ibb","port":"29017","dbName":"botqadb","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"30000","socketTimeoutMS":"0","minPoolSize":"0","maxPoolSize":"100","maxIdleTimeMS":"0","uri":"","advanced":"{}","uriTabActive":"tab-uri-simple"},{"id":"e2bc7ac9aa77279e","type":"mongodb4-client","name":"botdb","protocol":"mongodb","hostname":"ibb","port":"29017","dbName":"botdb","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"","socketTimeoutMS":"","minPoolSize":"","maxPoolSize":"","maxIdleTimeMS":"","uri":"","advanced":"{\"connectTimeoutMS\": 30000}","uriTabActive":"tab-uri-simple"},{"id":"c5e45699fc381b3e","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":190,"y":120,"wires":[["8bc888b131061daf"]]},{"id":"c30bbe72d8881fb3","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":200,"wires":[["8bc888b131061daf"]]},{"id":"fecb8a5e09e51440","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"75","payloadType":"num","x":190,"y":280,"wires":[["b5a92dd561946e7e"]]},{"id":"49d57110d029b02c","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":360,"wires":[["b5a92dd561946e7e"]]},{"id":"814b13feab8ff2ed","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":190,"y":440,"wires":[["1f6a8fbff6a5ab0f"]]},{"id":"c0d114c0df9ded33","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":520,"wires":[["1f6a8fbff6a5ab0f"]]},{"id":"f0b516b8fd7e47cd","type":"file in","z":"40bb1e0b679bdf6b","name":"","filename":"payload","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":380,"y":640,"wires":[["cd614094e91121b2"]]},{"id":"cd614094e91121b2","type":"csv","z":"40bb1e0b679bdf6b","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":570,"y":640,"wires":[["ed168e2eda0aa872"]]},{"id":"ed168e2eda0aa872","type":"split","z":"40bb1e0b679bdf6b","name":"","splt":";","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"topic","x":710,"y":640,"wires":[["cc878a245d6206a2","367bf4fd37a1fec8"]]},{"id":"cc878a245d6206a2","type":"switch","z":"40bb1e0b679bdf6b","name":"","property":"payload.qno","propertyType":"msg","rules":[{"t":"eq","v":"Q1","vt":"str"},{"t":"eq","v":"Q2","vt":"str"},{"t":"eq","v":"Q3","vt":"str"},{"t":"eq","v":"Q4","vt":"str"},{"t":"eq","v":"Q5","vt":"str"},{"t":"eq","v":"Q6","vt":"str"},{"t":"eq","v":"Q7","vt":"str"},{"t":"eq","v":"Q8","vt":"str"},{"t":"eq","v":"Q9","vt":"str"},{"t":"eq","v":"Q10","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":870,"y":640,"wires":[["48a150a202c868a5"],["e23fc4c5c5277efe"],["d8610b43bcfb1ef9"],["9ab61fabf3cd8a42"],["527eb345cf0512f9"],["ab7f817350e7652b"],["6e6e12bbcbd4f017"],["2df75a6f83f2c8da"],["265bd8656393e518"],["086e910fbfe33e72"]]},{"id":"367bf4fd37a1fec8","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":560,"wires":[]},{"id":"f1d17696f248d3f9","type":"inject","z":"40bb1e0b679bdf6b","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"bot2","payload":"/rules/docs/qabot2.csv","payloadType":"str","x":190,"y":740,"wires":[["3caf5e521f9734bb","f0b516b8fd7e47cd"]]},{"id":"3caf5e521f9734bb","type":"file in","z":"40bb1e0b679bdf6b","name":"","filename":"payload","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":380,"y":880,"wires":[["9528cf700d44b7d7"]]},{"id":"9528cf700d44b7d7","type":"csv","z":"40bb1e0b679bdf6b","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":550,"y":880,"wires":[["96b5988b50a0e9cc"]]},{"id":"96b5988b50a0e9cc","type":"function","z":"40bb1e0b679bdf6b","name":"set payload","func":"const data = msg.payload;\nmsg.payload = [{_id: msg.topic}, {$set: {data}}, { upsert: true }];\nreturn msg;\n\n/*\nconst data = msg.payload.split(',');\nmsg.payload = [{_id: data[0], \"id\" : data[0]}, {$set: {subid: data[1], escv1: data[2], escv2: data[3], escv3: data[4], limitesc1min: data[5], limitesc1max: data[6], limitesc2min: data[7], limitesc2max: data[8], limitesc3min: data[9], limitesc3max: data[10]}}, { upsert: true }];\nreturn msg;\n*/","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":880,"wires":[["e3ffdeb8c1fcc690"]]},{"id":"a12d3616001a3901","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":820,"wires":[]},{"id":"9405eb252ceb5f87","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":830,"y":460,"wires":[["48a150a202c868a5","e23fc4c5c5277efe","d8610b43bcfb1ef9","9ab61fabf3cd8a42","527eb345cf0512f9","ab7f817350e7652b","6e6e12bbcbd4f017","2df75a6f83f2c8da","265bd8656393e518","086e910fbfe33e72"]]},{"id":"63bdf2fa1dde955f","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 51","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"f4c8907aa34ad797","type":"function","z":"40bb1e0b679bdf6b","name":"set payload","func":"const data = msg.fwddata;\nglobal.set(\"globalbot1res\", data);\nmsg.payload = [{_id: msg.topic}, {$set: {data}}, { upsert: true }];\nreturn msg;\n\n/*\nconst data = msg.payload.split(',');\nmsg.payload = [{_id: data[0], \"id\" : data[0]}, {$set: {subid: data[1], escv1: data[2], escv2: data[3], escv3: data[4], limitesc1min: data[5], limitesc1max: data[6], limitesc2min: data[7], limitesc2max: data[8], limitesc3min: data[9], limitesc3max: data[10]}}, { upsert: true }];\nreturn msg;\n*/","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":280,"wires":[["55af81dd40678411","c820f36b206b8c9f"]]},{"id":"55af81dd40678411","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 52","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":240,"wires":[]},{"id":"0cb1c23a1d67fb7a","type":"function","z":"40bb1e0b679bdf6b","name":"function 9","func":"var globalbot1res = global.get(\"globalbot1res\");\nvar globalbot1ans = global.get(\"globalbot1ans\");\nvar botres = [10];\nbotres = Object.values(globalbot1res);\nvar globalbot1cans = [];\nglobal.set(\"globalbot1cans\", \"0\");\n\nfor (var i = 0; i < botres.length; i++) {\n    var correctans = {};\n    var wrongans = {};\n    var cansno = i+1;\n    var wansno = i+1;\n    \n    if (botres[i] == globalbot1ans.data[i].answer){\n        correctans.payload = \"CorrectAnsNo.\" + cansno + \": \" + botres[i];\n        //correctans.topic = \"correctans\";\n        correctans.no = {cansno};\n        globalbot1cans.push(cansno);\n        global.set(\"globalbot1cans\", globalbot1cans);\n        node.send(correctans);\n    }\n    else {\n        wrongans.payload = \"WrongAnsNo.\" + wansno + \": \" + botres[i];\n        //wrongans.topic = \"wrongans\";\n        wrongans.no = {wansno};\n        node.send(wrongans);\n    }\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":280,"wires":[["b27d0f2d67f78ec3","cab3de6aca568b75"]]},{"id":"4e220f3ae5f5b4d8","type":"function","z":"40bb1e0b679bdf6b","name":"function 10","func":"msg.fwddata = msg.payload;\nmsg.payload = [{_id: msg.topic}];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":280,"wires":[["f517c0b8da3ed977"]]},{"id":"0c0ce37ae42bf1b8","type":"function","z":"40bb1e0b679bdf6b","name":"function 11","func":"if(msg.payload){\nglobal.set(\"globalbot1ans\", msg.payload);\nmsg.payload = msg.fwddata;\nreturn msg;\n}\n\n//msg.testglobal = global.get(\"globalsubid\");\n//var name = \"IBB_bot/1\";\n//const result = msg.testglobal.find((bott) => bott === \"IBB_bot/1\");\n//if(result){\n  //  msg.payload = result;\n//return msg;\n//}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":280,"wires":[["17f4328cc726a769","f4c8907aa34ad797"]]},{"id":"17f4328cc726a769","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 53","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":240,"wires":[]},{"id":"539ce205fb36d73f","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 54","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":240,"wires":[]},{"id":"12927035360f4759","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot2","x":620,"y":220,"wires":[["4e220f3ae5f5b4d8"]]},{"id":"b27d0f2d67f78ec3","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 55","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":240,"wires":[]},{"id":"cab3de6aca568b75","type":"join","z":"40bb1e0b679bdf6b","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1960,"y":280,"wires":[["feb5b8fe5e9749ae","99fa3218606cee7a","4b4c48b6240c662d"]]},{"id":"feb5b8fe5e9749ae","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2170,"y":240,"wires":[]},{"id":"281130ad96434107","type":"debug","z":"40bb1e0b679bdf6b","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2050,"y":400,"wires":[]},{"id":"4b4c48b6240c662d","type":"function","z":"40bb1e0b679bdf6b","name":"function 13","func":"var cansdata = global.get(\"globalbot1cans\");\n\nconst containsAll = (needles, haystack) =>\nneedles.every(Set.prototype.has, new Set(haystack));\n\nvar set1 = null;\nvar set2 = null;\nvar set3 = null;\nvar set1 = containsAll([1, 2, 3], cansdata);\nvar set2 = containsAll([4, 5, 6], cansdata);\nvar set3 = containsAll([7, 8, 9, 10], cansdata);\n\nglobal.set(\"bot1set1\", set1)\nglobal.set(\"bot1set2\", set2)\nglobal.set(\"bot1set3\", set3)\n\nif (set1 || set2 || set3){\n    msg.load1 = set1;\n    msg.load2 = set2;\n    msg.load3 = set3;\n    return msg;\n}\n\nelse {\nreturn null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":340,"wires":[["281130ad96434107","83304ce12ec71382"]]},{"id":"83304ce12ec71382","type":"function","z":"40bb1e0b679bdf6b","name":"function 14","func":"msg.payload1 = global.get(\"bot1set1\");\nmsg.payload2 = global.get(\"bot1set2\");\nmsg.payload3 = global.get(\"bot1set3\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":340,"wires":[["d33c4e1baab424fd"]]},{"id":"d33c4e1baab424fd","type":"debug","z":"40bb1e0b679bdf6b","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2250,"y":340,"wires":[]},{"id":"68be3bbbd1e5b2ea","type":"function","z":"40bb1e0b679bdf6b","name":"function 15","func":"var set1 = global.get(\"bot1set1\");\nvar set2 = global.get(\"bot1set2\");\nvar set3 = global.get(\"bot1set3\");\nmsg.set1 = set1;\nmsg.set2 = set2;\nmsg.set3 = set3;\nvar bot1speedmin = global.get(\"bot1speedmin\")\nvar bot1speedmax = global.get(\"bot1speedmax\")\n\n\nif (set1){\n    msg.payload = (\"botmove\" + \",\" + bot1speedmin + \",\" + bot1speedmax+ \",\" + bot1speedmin + \",\" + bot1speedmax);\n    msg.topic = \"IBB_bot/1\";\n    msg.label = \"Speed unlocked!\";\n    return msg;\n}\n\nelse{\n    msg.label = \"Speed locked!\";\n    msg.payload = null;\n    msg.topic = null;\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1120,"wires":[["15aa15f662547b63","97fda3cd6bc4bdcd","109dd54ae7e21c50"]]},{"id":"15aa15f662547b63","type":"debug","z":"40bb1e0b679bdf6b","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":1140,"wires":[]},{"id":"d4e68fd377d14fc3","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"speedmin","payload":"0","payloadType":"str","x":210,"y":1080,"wires":[["9ac56df104708203"]]},{"id":"634cd7f523943cc9","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"speedmax","payload":"180","payloadType":"str","x":220,"y":1160,"wires":[["cd24b0981ca877f0"]]},{"id":"346ab060d1d6c8f1","type":"function","z":"40bb1e0b679bdf6b","name":"function 16","func":"global.set(\"bot1speedmin\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1080,"wires":[["68be3bbbd1e5b2ea"]]},{"id":"220b28a5ea26594e","type":"function","z":"40bb1e0b679bdf6b","name":"function 17","func":"global.set(\"bot1speedmax\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1160,"wires":[["68be3bbbd1e5b2ea"]]},{"id":"97fda3cd6bc4bdcd","type":"mqtt out","z":"40bb1e0b679bdf6b","name":"","topic":"IBB_bot/9","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":980,"y":1080,"wires":[]},{"id":"eb145e4222d54434","type":"function","z":"40bb1e0b679bdf6b","name":"function 18","func":"var set1 = global.get(\"bot1set1\");\nvar set2 = global.get(\"bot1set2\");\nvar set3 = global.get(\"bot1set3\");\nmsg.set1 = set1;\nmsg.set2 = set2;\nmsg.set3 = set3;\nvar bot1spinspeedmin = global.get(\"bot1spinspeedmin\")\nvar bot1spinspeedmax = global.get(\"bot1spinspeedmax\")\n\nif (set2){\n    msg.payload = (\"botspin\" + \",\" + bot1spinspeedmin + \",\" + bot1spinspeedmax);\n    msg.topic = \"IBB_bot/1\";\n    msg.label = \"Spin Unlocked!\";\n    return msg;\n}\n\nelse {\n    msg.label = \"Spin Locked!\";\n    msg.payload = null;\n    msg.topic = null;\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1280,"wires":[["7611804232fb6dfa","467d32feae76cd94","09bbda2d8fd18e2b"]]},{"id":"7611804232fb6dfa","type":"debug","z":"40bb1e0b679bdf6b","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":1300,"wires":[]},{"id":"63ab7af1e37a06b1","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"spinspeedmin","payload":"0","payloadType":"str","x":220,"y":1240,"wires":[["89609e4752503e43"]]},{"id":"0523b9ae96baa0b7","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"spinspeedmax","payload":"180","payloadType":"str","x":230,"y":1320,"wires":[["bfa1ba74bad7ae55"]]},{"id":"e56461cc70670369","type":"function","z":"40bb1e0b679bdf6b","name":"function 19","func":"global.set(\"bot1spinspeedmin\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1240,"wires":[["eb145e4222d54434"]]},{"id":"a97f4d4097937939","type":"function","z":"40bb1e0b679bdf6b","name":"function 20","func":"global.set(\"bot1spinspeedmax\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1320,"wires":[["eb145e4222d54434"]]},{"id":"467d32feae76cd94","type":"mqtt out","z":"40bb1e0b679bdf6b","name":"","topic":"IBB_bot/9","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":980,"y":1240,"wires":[]},{"id":"09c45f08b7aed8e7","type":"function","z":"40bb1e0b679bdf6b","name":"set payload","func":"msg.payload = [{_id: msg.payload}];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":80,"wires":[["6da6c1a91b5574b9"]]},{"id":"2447ae7cfb2224b2","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":40,"wires":[]},{"id":"73e14517fbab84b0","type":"function","z":"40bb1e0b679bdf6b","name":"set payload","func":"if(msg.payload != null || msg.payload != undefined){\nmsg.payload = \"-->\" + msg.payload.subid + \"<--\";\nreturn msg;\n}\nelse {\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":80,"wires":[["2447ae7cfb2224b2","33233a3b7eb04ec7"]]},{"id":"4806dcf28ad33589","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"4","topic":"","payload":"IBB_bot/9","payloadType":"str","x":650,"y":80,"wires":[["09c45f08b7aed8e7"]]},{"id":"b9e945d1170f4fca","type":"function","z":"40bb1e0b679bdf6b","name":"function 28","func":"var set1 = global.get(\"bot1set1\");\nvar set2 = global.get(\"bot1set2\");\nvar set3 = global.get(\"bot1set3\");\nmsg.set1 = set1;\nmsg.set2 = set2;\nmsg.set3 = set3;\nvar bot2speedmin = global.get(\"bot2speedmin\")\nvar bot2speedmax = global.get(\"bot2speedmax\")\n\n\nif (set3){\n    msg.payload = (\"botmove\" + \",\" + bot2speedmin + \",\" + bot2speedmax+ \",\" + bot2speedmin + \",\" + bot2speedmax);\n    msg.topic = \"IBB_bot/x\";\n    msg.label = \"botX - Speed Unlocked!\";\n    return msg;\n}\n\nelse{\n    msg.label = \"botX - Speed Locked!\";\n    msg.payload = null;\n    msg.topic = null;\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1540,"wires":[["74c011339178bce8","5ab93be9d8c28d34","6a551fc84abdc3c2"]]},{"id":"74c011339178bce8","type":"debug","z":"40bb1e0b679bdf6b","name":"debug 67","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":1560,"wires":[]},{"id":"dd648b3749efddf7","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"speedmin","payload":"0","payloadType":"str","x":210,"y":1500,"wires":[["0bd5d994e57c5153"]]},{"id":"d513adbff884c917","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"speedmax","payload":"180","payloadType":"str","x":220,"y":1580,"wires":[["f34b906abff595ea"]]},{"id":"e1438d4bf99edbff","type":"function","z":"40bb1e0b679bdf6b","name":"function 29","func":"global.set(\"bot2speedmin\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1500,"wires":[["b9e945d1170f4fca"]]},{"id":"9374a0cb5ab5647b","type":"function","z":"40bb1e0b679bdf6b","name":"function 30","func":"global.set(\"bot2speedmax\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1580,"wires":[["b9e945d1170f4fca"]]},{"id":"5ab93be9d8c28d34","type":"mqtt out","z":"40bb1e0b679bdf6b","name":"","topic":"IBB_bot/x9","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":990,"y":1500,"wires":[]},{"id":"a82fba9dcd5afdb3","type":"function","z":"40bb1e0b679bdf6b","name":"function 21","func":"var set1 = global.get(\"bot1set1\");\nvar set2 = global.get(\"bot1set2\");\nvar set3 = global.get(\"bot1set3\");\nmsg.set1 = set1;\nmsg.set2 = set2;\nmsg.set3 = set3;\nvar bot1spinspeedmin = global.get(\"bot1spinspeedmin\")\nvar bot1spinspeedmax = global.get(\"bot1spinspeedmax\")\n\nif (set3){\n    msg.payload = (\"botspin\" + \",\" + bot1spinspeedmin + \",\" + bot1spinspeedmax);\n    msg.topic = \"IBB_bot/x\";\n    msg.label = \"botX - Spin Unlocked!\";\n    return msg;\n}\n\nelse {\n    msg.label = \"botX - Spin Locked!\";\n    msg.payload = null;\n    msg.topic = null;\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1720,"wires":[["643a34668c5555ba","4f537c44cd2eee1c","8bbeda397e9a60f4"]]},{"id":"643a34668c5555ba","type":"debug","z":"40bb1e0b679bdf6b","name":"debug 64","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":1740,"wires":[]},{"id":"6d44ac4b25b66eb1","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"spinspeedmin","payload":"0","payloadType":"str","x":220,"y":1680,"wires":[["09928bf63e52c66f"]]},{"id":"89ca2eeaae75e1c1","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"spinspeedmax","payload":"180","payloadType":"str","x":230,"y":1760,"wires":[["f8181effe4cf8384"]]},{"id":"89e32650e833985f","type":"function","z":"40bb1e0b679bdf6b","name":"function 22","func":"global.set(\"bot1spinspeedmin\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1680,"wires":[["a82fba9dcd5afdb3"]]},{"id":"40dc4fa7085d4218","type":"function","z":"40bb1e0b679bdf6b","name":"function 23","func":"global.set(\"bot1spinspeedmax\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1760,"wires":[["a82fba9dcd5afdb3"]]},{"id":"4f537c44cd2eee1c","type":"mqtt out","z":"40bb1e0b679bdf6b","name":"","topic":"IBB_bot/x9","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":990,"y":1680,"wires":[]},{"id":"9ac56df104708203","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"speedmin","label":"Speed Set to (0)","tooltip":"","group":"5f5211debfbd964d","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":420,"y":1080,"wires":[["346ab060d1d6c8f1"]]},{"id":"cd24b0981ca877f0","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"speedmax","label":"Speed Set to (180)","tooltip":"","group":"5f5211debfbd964d","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"180","step":1,"className":"","x":430,"y":1160,"wires":[["220b28a5ea26594e"]]},{"id":"89609e4752503e43","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"spinspeedmin","label":"Spin Speed Set to (0)","tooltip":"","group":"5f5211debfbd964d","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":440,"y":1240,"wires":[["e56461cc70670369"]]},{"id":"bfa1ba74bad7ae55","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"spinspeedmax","label":"Spin Speed Set to (180)","tooltip":"","group":"5f5211debfbd964d","order":6,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"180","step":1,"className":"","x":440,"y":1320,"wires":[["a97f4d4097937939"]]},{"id":"0bd5d994e57c5153","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"speedmin","label":"Speed Set to (x)","tooltip":"","group":"5f5211debfbd964d","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"40","step":1,"className":"","x":420,"y":1500,"wires":[["e1438d4bf99edbff"]]},{"id":"f34b906abff595ea","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"speedmax","label":"Speed Set to (x)","tooltip":"","group":"5f5211debfbd964d","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"140","max":"180","step":1,"className":"","x":430,"y":1580,"wires":[["9374a0cb5ab5647b"]]},{"id":"09928bf63e52c66f","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"spinspeedmin","label":"Spin Speed Set to (0)","tooltip":"","group":"5f5211debfbd964d","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":420,"y":1680,"wires":[["89e32650e833985f"]]},{"id":"f8181effe4cf8384","type":"ui_slider","z":"40bb1e0b679bdf6b","name":"spinspeedmax","label":"Spin Speed Set to (180)","tooltip":"","group":"5f5211debfbd964d","order":12,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"180","step":1,"className":"","x":440,"y":1760,"wires":[["40dc4fa7085d4218"]]},{"id":"cd09758d8f604333","type":"ui_form","z":"40bb1e0b679bdf6b","name":"","label":"","group":"59218776686d716b","order":1,"width":0,"height":0,"options":[{"label":"A1:","value":"botans1","type":"text","required":false,"rows":null},{"label":"A2:","value":"botans2","type":"text","required":false,"rows":null},{"label":"A3:","value":"botans3","type":"text","required":false,"rows":null},{"label":"A4:","value":"botans4","type":"text","required":false,"rows":null},{"label":"A5:","value":"botans5","type":"text","required":false,"rows":null},{"label":"A6:","value":"botans6","type":"text","required":false,"rows":null},{"label":"A7:","value":"botans7","type":"text","required":false,"rows":null},{"label":"A8:","value":"botans8","type":"number","required":false,"rows":null},{"label":"A9:","value":"botans9","type":"number","required":false,"rows":null},{"label":"A10:","value":"botans10","type":"number","required":false,"rows":null}],"formValue":{"botans1":"","botans2":"","botans3":"","botans4":"","botans5":"","botans6":"","botans7":"","botans8":"","botans9":"","botans10":""},"payload":"","submit":"submit","cancel":"reset","topic":"bot9","topicType":"str","splitLayout":"","className":"","x":620,"y":280,"wires":[["63bdf2fa1dde955f","4e220f3ae5f5b4d8"]]},{"id":"48a150a202c868a5","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":5,"width":0,"height":0,"name":"t1","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":460,"wires":[]},{"id":"e23fc4c5c5277efe","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":6,"width":0,"height":0,"name":"t2","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":500,"wires":[]},{"id":"d8610b43bcfb1ef9","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":7,"width":0,"height":0,"name":"t3","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":540,"wires":[]},{"id":"9ab61fabf3cd8a42","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":8,"width":0,"height":0,"name":"t4","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":580,"wires":[]},{"id":"527eb345cf0512f9","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":9,"width":0,"height":0,"name":"t5","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":620,"wires":[]},{"id":"ab7f817350e7652b","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":10,"width":0,"height":0,"name":"t6","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":660,"wires":[]},{"id":"6e6e12bbcbd4f017","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":11,"width":0,"height":0,"name":"t7","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":700,"wires":[]},{"id":"2df75a6f83f2c8da","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":12,"width":0,"height":0,"name":"t8","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":740,"wires":[]},{"id":"265bd8656393e518","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":13,"width":0,"height":0,"name":"t9","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":780,"wires":[]},{"id":"086e910fbfe33e72","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":14,"width":0,"height":0,"name":"10","label":"{{msg.payload.qno}}","format":"{{msg.payload.question}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fcfcfc","x":1070,"y":820,"wires":[]},{"id":"99fa3218606cee7a","type":"ui_text","z":"40bb1e0b679bdf6b","group":"703f776ec23789a6","order":0,"width":"5","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"12","color":"#fbf9f9","x":2160,"y":280,"wires":[]},{"id":"109dd54ae7e21c50","type":"ui_text","z":"40bb1e0b679bdf6b","group":"5f5211debfbd964d","order":1,"width":0,"height":0,"name":"botspeed","label":"","format":"{{msg.label}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":980,"y":1020,"wires":[]},{"id":"09bbda2d8fd18e2b","type":"ui_text","z":"40bb1e0b679bdf6b","group":"5f5211debfbd964d","order":4,"width":0,"height":0,"name":"botspin","label":"","format":"{{msg.label}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#eeb22f","x":980,"y":1200,"wires":[]},{"id":"33233a3b7eb04ec7","type":"ui_text","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","order":4,"width":0,"height":0,"name":"botname","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":16,"color":"#fea858","x":1320,"y":80,"wires":[]},{"id":"8bbeda397e9a60f4","type":"ui_text","z":"40bb1e0b679bdf6b","group":"5f5211debfbd964d","order":10,"width":0,"height":0,"name":"botxspin","label":"","format":"{{msg.label}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#eeb22f","x":980,"y":1640,"wires":[]},{"id":"6a551fc84abdc3c2","type":"ui_text","z":"40bb1e0b679bdf6b","group":"5f5211debfbd964d","order":7,"width":0,"height":0,"name":"botxspeed","label":"","format":"{{msg.label}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#eeb22f","x":990,"y":1440,"wires":[]},{"id":"8bc888b131061daf","type":"ui_gauge","z":"40bb1e0b679bdf6b","name":"H","group":"788dda10fec327db","order":1,"width":1,"height":1,"gtype":"wave","title":"","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#8bcd57","#fdeb62","#de665f"],"seg1":"","seg2":"","diff":false,"className":"","x":350,"y":160,"wires":[]},{"id":"b5a92dd561946e7e","type":"ui_gauge","z":"40bb1e0b679bdf6b","name":"H","group":"788dda10fec327db","order":2,"width":1,"height":1,"gtype":"wave","title":"","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#8bcd57","#fdeb62","#de665f"],"seg1":"","seg2":"","diff":false,"className":"","x":350,"y":320,"wires":[]},{"id":"1f6a8fbff6a5ab0f","type":"ui_gauge","z":"40bb1e0b679bdf6b","name":"H","group":"788dda10fec327db","order":3,"width":1,"height":1,"gtype":"wave","title":"","label":"","format":"{{msg.payload}}","min":0,"max":"100","colors":["#8bcd57","#fdeb62","#de665f"],"seg1":"","seg2":"","diff":false,"className":"","x":350,"y":480,"wires":[]},{"id":"9ceee9a67ea8ee9b","type":"ui_template","z":"40bb1e0b679bdf6b","group":"788dda10fec327db","name":"CSS-Basics","order":16,"width":0,"height":0,"format":"<style>\n\n* {\n    background: none !important;\n}\n\n    root, a, button, p, div {\n        -webkit-user-select: none !important;\n    }\n\n    body {\n\n        background: transparent !important;\n\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 100%\n        ) !important;\n        \n        -webkit-touch-callout: none !important;\n        color: #ffffff !important;\n        padding-top:5px !important;\n    }\n    \n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n\n    }\n\n    \n    ui-card-panel {\n        background-color: rgba(250,250,250,0.3) !important;\n        border:none !important;\n        border-radius: 10px !important;\n/*        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19) !important;\n*/    }\n\n    ui-card-panel>div.nr-dashboard-cardpanel>div>md-card {\n        background: none !important;\n    }\n    ui-card-panel>div.nr-dashboard-cardpanel button {\n        /*background: none !important;*/\n    } \n    md-toolbar {\n        background: none !important;\n    }\n    md-sidenav {\n        background: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n    }\n    md-card.nr-dashboard-button * {\n        box-shadow: none !important;\n    }\n    md-card.nr-dashboard-template * {\n        background: none !important;\n    }\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":190,"y":60,"wires":[[]]},{"id":"e3ffdeb8c1fcc690","type":"mongodb4","z":"40bb1e0b679bdf6b","clientNode":"82acd6075ac1e4b1","mode":"collection","collection":"qa","operation":"updateOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":910,"y":880,"wires":[["a12d3616001a3901"]]},{"id":"f517c0b8da3ed977","type":"mongodb4","z":"40bb1e0b679bdf6b","clientNode":"82acd6075ac1e4b1","mode":"collection","collection":"qa","operation":"findOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":1020,"y":280,"wires":[["0c0ce37ae42bf1b8"]]},{"id":"c820f36b206b8c9f","type":"mongodb4","z":"40bb1e0b679bdf6b","clientNode":"82acd6075ac1e4b1","mode":"collection","collection":"response","operation":"updateOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":1600,"y":280,"wires":[["539ce205fb36d73f","0cb1c23a1d67fb7a"]]},{"id":"6da6c1a91b5574b9","type":"mongodb4","z":"40bb1e0b679bdf6b","clientNode":"e2bc7ac9aa77279e","mode":"collection","collection":"bots","operation":"findOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":980,"y":80,"wires":[["73e14517fbab84b0"]]},{"id":"c0548433a5dae76c","type":"mqtt in","z":"40bb1e0b679bdf6b","name":"","topic":"bot9","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":660,"wires":[["f0b516b8fd7e47cd","3caf5e521f9734bb"]]},{"id":"3e04f7bc9c80ef5b","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":210,"y":620,"wires":[]},{"id":"1b4a2eeff7f7f960","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":620,"y":320,"wires":[]},{"id":"2e8a43756d80773f","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":650,"y":120,"wires":[]},{"id":"d70005a76add8a33","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":1130,"y":1080,"wires":[]},{"id":"842530356e723aee","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":1130,"y":1240,"wires":[]},{"id":"64fedc95b7411424","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":1130,"y":1500,"wires":[]},{"id":"64be1716906cdebe","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":1130,"y":1680,"wires":[]},{"id":"b1de53ad1ba42cc4","type":"exec","z":"40bb1e0b679bdf6b","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":570,"y":1960,"wires":[["bc90864c2cabdd01","85fd98e5ce080b64"],["bc90864c2cabdd01"],["bc90864c2cabdd01","18ed3d3c8dbb2639"]]},{"id":"bc90864c2cabdd01","type":"debug","z":"40bb1e0b679bdf6b","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":2020,"wires":[]},{"id":"23cdadca2d797a9e","type":"ui_text_input","z":"40bb1e0b679bdf6b","name":"","label":"cmd input","tooltip":"","group":"5f5211debfbd964d","order":14,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"topic","sendOnBlur":false,"className":"","topicType":"msg","x":200,"y":1960,"wires":[["a8e0f2dab6868773"]]},{"id":"85fd98e5ce080b64","type":"ui_text","z":"40bb1e0b679bdf6b","group":"5f5211debfbd964d","order":15,"width":0,"height":0,"name":"","label":"Output","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":1940,"wires":[]},{"id":"18ed3d3c8dbb2639","type":"ui_text","z":"40bb1e0b679bdf6b","d":true,"group":"5f5211debfbd964d","order":16,"width":0,"height":0,"name":"","label":"Error","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":1980,"wires":[]},{"id":"3479bbc661115067","type":"ui_text","z":"40bb1e0b679bdf6b","group":"5f5211debfbd964d","order":13,"width":0,"height":0,"name":"","label":"terminal/cmd","format":"{{msg.payload}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#eaae86","x":750,"y":1900,"wires":[]},{"id":"a8e0f2dab6868773","type":"function","z":"40bb1e0b679bdf6b","name":"function 31","func":"//const cmds = [\"date\", \"hostname\", \"ifconfig\", \"xyz\", \"123\"];\nvar cmds = global.get(\"cmdlist\");\nconst cmd = cmds.find((cmd) => cmd == msg.payload);\n\nif(cmd){\n    msg.payload = cmd;\n    return msg;\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1960,"wires":[["b1de53ad1ba42cc4","c5b60db6af9b3761"]]},{"id":"c5b60db6af9b3761","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 68","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":2000,"wires":[]},{"id":"42f1bbe4a753a839","type":"mqtt in","z":"40bb1e0b679bdf6b","name":"","topic":"cmdlist","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1900,"wires":[["ace2ea59a12a125f"]]},{"id":"ace2ea59a12a125f","type":"function","z":"40bb1e0b679bdf6b","name":"function 32","func":"global.set(\"cmdlist\", msg.payload);\nmsg.payload = global.get(\"cmdlist\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1900,"wires":[["bb234a9d7ecde64d"]]},{"id":"bb234a9d7ecde64d","type":"debug","z":"40bb1e0b679bdf6b","d":true,"name":"debug 69","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":1900,"wires":[]},{"id":"fed0b3bc28b7c4c6","type":"inject","z":"40bb1e0b679bdf6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"xbotvalue","payload":"IBB_bot/9,xxxxx,mmmm","payloadType":"str","x":700,"y":380,"wires":[["5a4a6af2a830791c"]]},{"id":"5a4a6af2a830791c","type":"mqtt out","z":"40bb1e0b679bdf6b","name":"","topic":"xbotvalue","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":960,"y":380,"wires":[]},{"id":"dbe37f5fc6a48835","type":"comment","z":"40bb1e0b679bdf6b","name":"Change Here!","info":"","x":630,"y":420,"wires":[]}]