rules/bots/admin/flows_admin.json
[{"id":"996088fd98339b2e","type":"tab","label":"Bots Control","disabled":false,"info":"","env":[]},{"id":"35c3a810e5bbdf54","type":"tab","label":"Services","disabled":false,"info":"","env":[]},{"id":"949ed7486287200f","type":"tab","label":"misc","disabled":true,"info":"","env":[]},{"id":"b7765500.4889a8","type":"subflow","name":"Iterate","in":[{"x":220,"y":219,"wires":[{"id":"a1ad0c48.5e52f"}]}],"out":[{"x":454,"y":174,"wires":[{"id":"a1ad0c48.5e52f","port":0}]},{"x":455,"y":259,"wires":[{"id":"a1ad0c48.5e52f","port":1}]}]},{"id":"2402bfca8ac7060a","type":"global-config","name":"global-config","env":[{"name":"B1Q1","value":"1","type":"str"},{"name":"B1Q2","value":"2","type":"str"},{"name":"B1Q3","value":"3","type":"str"},{"name":"B1Q4","value":"4","type":"str"},{"name":"B5Q5","value":"5","type":"str"}]},{"id":"daa83730a63c754b","type":"mqtt-broker","name":"mb","broker":"localhost","port":"1773","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ba125f396527f22c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"teal","warn":"red","background":"blue-grey","palette":"dark"}},"site":{"name":"IBB","hideToolbar":"false","allowSwipe":"mouse","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"071852504b61ab66","type":"ui_tab","name":"Bots","icon":"dashboard","disabled":false,"hidden":false},{"id":"0301efdcc05ad9fb","type":"ui_tab","name":"Cluster Controls","icon":"dashboard","disabled":false,"hidden":false},{"id":"5820fba4b1b8cdf6","type":"ui_group","name":"Bot Status","tab":"071852504b61ab66","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d6bb137678716e50","type":"ui_group","name":"Services","tab":"0301efdcc05ad9fb","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6b9d89a6cc5451f7","type":"ui_group","name":"Bot Controls","tab":"071852504b61ab66","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e2bc7ac9aa77279e","type":"mongodb4-client","name":"botdb","protocol":"mongodb","hostname":"192.168.1.141","port":"29017","dbName":"botdb","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"","socketTimeoutMS":"","minPoolSize":"","maxPoolSize":"","maxIdleTimeMS":"","uri":"","advanced":"{\"connectTimeoutMS\": 30000}","uriTabActive":"tab-uri-simple"},{"id":"dd3d4789a4cdf6e9","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influxdb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.1.228:8086","timeout":"10","rejectUnauthorized":true},{"id":"1cae8cdf3a6b3196","type":"ui_tab","name":"Swarm","icon":"dashboard","disabled":false,"hidden":false},{"id":"4eaf0997a23522b0","type":"ui_group","name":"Node Cluster [Status]","tab":"1cae8cdf3a6b3196","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f8e5edd06b259a0b","type":"ui_tab","name":"Data Stream","icon":"dashboard","disabled":false,"hidden":false},{"id":"a4d942562d17c40d","type":"ui_group","name":"Rx Data Stream [2]","tab":"f8e5edd06b259a0b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ba462204762fa0f6","type":"ui_group","name":"Rx Data Stream [3]","tab":"f8e5edd06b259a0b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"320a87ecf856f8c5","type":"ui_group","name":"Rx Data Stream [4]","tab":"f8e5edd06b259a0b","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e36f7669ed6f0307","type":"ui_group","name":"Rx Data Stream [5]","tab":"f8e5edd06b259a0b","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bdccfeb9fb9b1ed3","type":"ui_group","name":"Rx Data Stream [1]","tab":"f8e5edd06b259a0b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"347cff69bc04d19c","type":"ui_group","name":"Rx Data Stream [6]","tab":"f8e5edd06b259a0b","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ace97279cdfd97f3","type":"ui_group","name":"Rx Data Stream [7]","tab":"f8e5edd06b259a0b","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"59d42c3d21f01d74","type":"ui_group","name":"Rx Data Stream [8]","tab":"f8e5edd06b259a0b","order":8,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2087e2ff904924e9","type":"ui_group","name":"Rx Data Stream [9]","tab":"f8e5edd06b259a0b","order":9,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bed39e390c300a90","type":"ui_group","name":"Rx Data Stream [10]","tab":"f8e5edd06b259a0b","order":10,"disp":true,"width":"6","collapse":false,"className":""},{"id":"82acd6075ac1e4b1","type":"mongodb4-client","name":"botqadb","protocol":"mongodb","hostname":"192.168.1.141","port":"29017","dbName":"botqadb","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"30000","socketTimeoutMS":"0","minPoolSize":"0","maxPoolSize":"100","maxIdleTimeMS":"0","uri":"","advanced":"{}","uriTabActive":"tab-uri-simple"},{"id":"a1ad0c48.5e52f","type":"function","z":"b7765500.4889a8","name":"Iterate","func":"//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];","outputs":"2","noerr":0,"x":347,"y":220,"wires":[[],[]]},{"id":"11e796e6f9ec8af7","type":"debug","z":"996088fd98339b2e","d":true,"name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":40,"wires":[]},{"id":"99aa739ae633e263","type":"debug","z":"996088fd98339b2e","d":true,"name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":80,"wires":[]},{"id":"c95115fa8dc4d7e5","type":"mqtt in","z":"996088fd98339b2e","name":"test1","topic":"test1","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":70,"y":160,"wires":[["19bf34343e11475e"]]},{"id":"0b1646a0abe5111f","type":"mqtt out","z":"996088fd98339b2e","name":"test1","topic":"test1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":290,"y":240,"wires":[]},{"id":"445d0d83358c1a82","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":240,"wires":[["0b1646a0abe5111f"]]},{"id":"19bf34343e11475e","type":"debug","z":"996088fd98339b2e","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":160,"wires":[]},{"id":"5d3562f469327ab9","type":"mqtt out","z":"996088fd98339b2e","name":"IBB_bot/1","topic":"IBB_bot/1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":560,"y":760,"wires":[]},{"id":"5d141896dae7e030","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"botspin,10,20","payloadType":"str","x":130,"y":880,"wires":[["5d3562f469327ab9"]]},{"id":"60632f2c91d87341","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payload":"readval","payloadType":"str","x":110,"y":720,"wires":[["5d3562f469327ab9","ac7337ce4365f1e4"]]},{"id":"482788cefcea1d8d","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"botmove,0,180,0,180","payloadType":"str","x":160,"y":540,"wires":[["27b0bd1ae3f51c8a"]]},{"id":"27b0bd1ae3f51c8a","type":"mqtt out","z":"996088fd98339b2e","name":"alpha","topic":"alpha","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":370,"y":540,"wires":[]},{"id":"761838112f8cc78e","type":"mqtt in","z":"996088fd98339b2e","name":"alpha","topic":"alpha","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":400,"wires":[["be096a72fe65b4d5"]]},{"id":"be096a72fe65b4d5","type":"debug","z":"996088fd98339b2e","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":400,"wires":[]},{"id":"4b65760210fe3c9d","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"IBB_bot/1,subID,xxx","payloadType":"str","x":150,"y":580,"wires":[["27b0bd1ae3f51c8a"]]},{"id":"aad9d509041aa5d4","type":"mqtt out","z":"996088fd98339b2e","name":"xxx","topic":"xxx","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":370,"y":600,"wires":[]},{"id":"23472aad6ff01566","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"botmove,0,180,0,180","payloadType":"str","x":160,"y":640,"wires":[["aad9d509041aa5d4","29a3c6f80049fa73"]]},{"id":"1842b77d2fc62e89","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"IBB_bot2,subID,zzz","payloadType":"str","x":150,"y":500,"wires":[["27b0bd1ae3f51c8a"]]},{"id":"29a3c6f80049fa73","type":"mqtt out","z":"996088fd98339b2e","name":"zzz","topic":"zzz","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":370,"y":680,"wires":[]},{"id":"ac7337ce4365f1e4","type":"mqtt out","z":"996088fd98339b2e","name":"IBB_bot2","topic":"IBB_bot2","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":520,"y":880,"wires":[]},{"id":"4602d9c0e62b6cc7","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"botmove,93,94,93,94","payloadType":"str","x":160,"y":820,"wires":[["ac7337ce4365f1e4"]]},{"id":"a4c5f8165da7db01","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"botspin,10,20","payloadType":"str","x":130,"y":920,"wires":[["ac7337ce4365f1e4"]]},{"id":"821a2e6f2f4aa5ab","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"botmove,0,180,0,180","payloadType":"str","x":160,"y":980,"wires":[["5d3562f469327ab9"]]},{"id":"efc72397d6eb8ca6","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"botmove,0,180,0,180","payloadType":"str","x":160,"y":1020,"wires":[["ac7337ce4365f1e4"]]},{"id":"aa5f0a0d82899761","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"rcvalue","qos":"0","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":3770,"y":280,"wires":[["0b80f933ce8cd67c"]]},{"id":"41a6beb832218420","type":"function","z":"996088fd98339b2e","name":"function 2","func":"const data = msg.payload.split(',');\nmsg.payload = [{ \"ch1\": parseInt(data[2]), \"ch2\": parseInt(data[3]), \"ch3\": parseInt(data[4]), \"esc1\": parseInt(data[5]), \"esc2\": parseInt(data[6]), \"esc3\": parseInt(data[7]) }, { \"botid\": String(data[0]), \"subid\": String(data[1])}]\n//msg.payload = \"botid=\" + data[0] + \",subid=\" + data[1] + \" ch1=\" + parseInt(data[2]) + \",ch2=\" +parseInt(data[3]) + \",ch3=\" + parseInt(data[4]) + \",esc1=\" + parseInt(data[5]) + \",esc2=\" + parseInt(data[6]) + \",esc3=\" + parseInt(data[7])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3760,"y":480,"wires":[["f63ceceb03b6579c"]]},{"id":"0b80f933ce8cd67c","type":"rbe","z":"996088fd98339b2e","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":3770,"y":400,"wires":[["41a6beb832218420"]]},{"id":"7c7679708419466b","type":"mqtt in","z":"996088fd98339b2e","d":true,"name":"sub_all_bots","topic":"IBB_bot/#","qos":"0","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":320,"wires":[["a166b9d36d9d5e9e"]]},{"id":"a166b9d36d9d5e9e","type":"debug","z":"996088fd98339b2e","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":280,"y":320,"wires":[]},{"id":"c55377fe3112700d","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"IBB_bot/1","payloadType":"str","x":120,"y":1440,"wires":[["3c55103ab3a82664"]]},{"id":"192c6221613a2b76","type":"function","z":"996088fd98339b2e","name":"set payload","func":"msg.payload = [{_id: msg.payload}];\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1500,"wires":[["49adb22edea61a7e"]]},{"id":"cc5f1faf30111566","type":"debug","z":"996088fd98339b2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1400,"wires":[]},{"id":"0e3ab8a501a1a618","type":"function","z":"996088fd98339b2e","name":"set payload","func":"msg.topic = msg.payload.id;\nmsg.payload = msg.payload._id + \",\" + \"subID\" + \",\" + msg.payload.subid;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1500,"wires":[["cc5f1faf30111566","244877fdfaa2ca75","d33e3d5ea2505f8b"]]},{"id":"e7276d3086caa837","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"botconnect","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":1500,"wires":[["192c6221613a2b76"]]},{"id":"3c55103ab3a82664","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"botconnect","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":330,"y":1440,"wires":[]},{"id":"310b6270738a977f","type":"mqtt out","z":"996088fd98339b2e","d":true,"name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1170,"y":180,"wires":[]},{"id":"95a7982625a2fb84","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/1","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":40,"wires":[["310b6270738a977f"]]},{"id":"e75fab3b141d8927","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/2","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":80,"wires":[["310b6270738a977f"]]},{"id":"fea2f8850b3fb93a","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/3","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":120,"wires":[["310b6270738a977f"]]},{"id":"ba873af6207d01a7","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/4","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":160,"wires":[["310b6270738a977f"]]},{"id":"20d32eb3459d1840","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/5","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":200,"wires":[["310b6270738a977f"]]},{"id":"6d3ed6e7edd12044","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/6","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":240,"wires":[["310b6270738a977f"]]},{"id":"4ab3a9d7a16941fb","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/7","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/7","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":280,"wires":[["310b6270738a977f"]]},{"id":"07c154574c457d82","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/8","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/8","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":320,"wires":[["310b6270738a977f"]]},{"id":"96795ff2369683f5","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/9","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/9","payload":"botmove,93,94,93,94","payloadType":"str","x":920,"y":360,"wires":[["310b6270738a977f"]]},{"id":"5fbbe378e6182e56","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/10","payload":"botmove,93,94,93,94","payloadType":"str","x":930,"y":400,"wires":[["310b6270738a977f"]]},{"id":"55aa8c04c17da7e4","type":"change","z":"996088fd98339b2e","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x1","fromt":"str","to":"IBB_bot/2","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x2","fromt":"str","to":"IBB_bot/1","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x3","fromt":"str","to":"IBB_bot/3","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x4","fromt":"str","to":"IBB_bot/4","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x5","fromt":"str","to":"IBB_bot/5","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x6","fromt":"str","to":"IBB_bot/6","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x7","fromt":"str","to":"IBB_bot/7","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x8","fromt":"str","to":"IBB_bot/8","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x9","fromt":"str","to":"IBB_bot/9","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"IBB_bot/x10","fromt":"str","to":"IBB_bot/10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":200,"wires":[["45a0ca150bfed353","f794ef1ce087653f"]]},{"id":"0bb7e3fdd58e6cd8","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x1","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":40,"wires":[["55aa8c04c17da7e4"]]},{"id":"45a0ca150bfed353","type":"debug","z":"996088fd98339b2e","name":"debug 136","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":160,"wires":[]},{"id":"f794ef1ce087653f","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1790,"y":200,"wires":[]},{"id":"b362453cf9c681ec","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x2","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":80,"wires":[["55aa8c04c17da7e4"]]},{"id":"0c6288a53e38c508","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x3","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":120,"wires":[["55aa8c04c17da7e4"]]},{"id":"d99a3b4e76035949","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x4","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":160,"wires":[["55aa8c04c17da7e4"]]},{"id":"e7bf5e48aa791e33","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x5","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":200,"wires":[["55aa8c04c17da7e4"]]},{"id":"cfda5206cf7abdec","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x6","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":240,"wires":[["55aa8c04c17da7e4"]]},{"id":"b0b448309bbe0812","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x7","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":280,"wires":[["55aa8c04c17da7e4"]]},{"id":"010c005486bd08bc","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x8","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":320,"wires":[["55aa8c04c17da7e4"]]},{"id":"9813307949ec5202","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x9","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1340,"y":360,"wires":[["55aa8c04c17da7e4"]]},{"id":"3fc65dd73e80c122","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"IBB_bot/x10","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":1350,"y":400,"wires":[["55aa8c04c17da7e4"]]},{"id":"1fe792731bdb3966","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"botvalue","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":2060,"y":200,"wires":[["c9c902d34a060ca4","bee5f696d171ae35"]]},{"id":"c9c902d34a060ca4","type":"debug","z":"996088fd98339b2e","d":true,"name":"debug 137","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2230,"y":160,"wires":[]},{"id":"bee5f696d171ae35","type":"function","z":"996088fd98339b2e","name":"set payload","func":"const data = msg.payload.split(',');\n\nif(data[0]){\nmsg.botname = data[0];\nmsg.payload = true;\n}\n\nelse {\nmsg.botname = null;\nmsg.payload = false;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2230,"y":200,"wires":[["1abd115138b84692"]]},{"id":"1abd115138b84692","type":"switch","z":"996088fd98339b2e","name":"","property":"botname","propertyType":"msg","rules":[{"t":"eq","v":"IBB_bot/1","vt":"str"},{"t":"eq","v":"IBB_bot/2","vt":"str"},{"t":"eq","v":"IBB_bot/3","vt":"str"},{"t":"eq","v":"IBB_bot/4","vt":"str"},{"t":"eq","v":"IBB_bot/5","vt":"str"},{"t":"eq","v":"IBB_bot/6","vt":"str"},{"t":"eq","v":"IBB_bot/7","vt":"str"},{"t":"eq","v":"IBB_bot/8","vt":"str"},{"t":"eq","v":"IBB_bot/9","vt":"str"},{"t":"eq","v":"IBB_bot/10","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":2390,"y":200,"wires":[["9f01883ce516b570"],["bd4a8d7fc1ff89a8"],["c1d4ed79dbe70263"],["0aff9f989cb662f6"],["20c855e37af7093e"],["2c27358931296a04"],["fdb89eb2bf9d0942"],["f57516ba4c1256e4"],["c732ff9741678e2e"],["5cd9ec0567d2e249"]]},{"id":"8a5e38f2de5074a9","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"botvalue","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1980,"y":500,"wires":[]},{"id":"ce09f404c07f0eca","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/1,xxxxx,mmmm","payloadType":"str","x":1700,"y":340,"wires":[["8a5e38f2de5074a9"]]},{"id":"98899c10f87fcedd","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/2,xxxxx,mmmm","payloadType":"str","x":1700,"y":380,"wires":[["8a5e38f2de5074a9"]]},{"id":"b6b0d185783646e7","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/3,xxxxx,mmmm","payloadType":"str","x":1700,"y":420,"wires":[["8a5e38f2de5074a9"]]},{"id":"e6ab75ac793d4425","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"botname","v":"waiting...","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":2390,"y":100,"wires":[["9f01883ce516b570","bd4a8d7fc1ff89a8","c1d4ed79dbe70263","0aff9f989cb662f6","20c855e37af7093e","2c27358931296a04","fdb89eb2bf9d0942","f57516ba4c1256e4","c732ff9741678e2e","5cd9ec0567d2e249"]]},{"id":"8752e9f779cf5818","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":80,"wires":[]},{"id":"361bbd5f79cf86e2","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/2","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":120,"wires":[]},{"id":"ee16ee4bc64a2ea9","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/3","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":160,"wires":[]},{"id":"c3ce041407acbad1","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/4","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":200,"wires":[]},{"id":"b1aa1bf8d118543f","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/5","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":240,"wires":[]},{"id":"56adec9fb4ae3a7c","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/6","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":280,"wires":[]},{"id":"75c0d1a87c75391e","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/7","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":320,"wires":[]},{"id":"443fa5a2039fd4e1","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/8","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":360,"wires":[]},{"id":"160f150c470077f3","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/9","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3220,"y":400,"wires":[]},{"id":"df3078b9e0de1acd","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/10","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":3230,"y":440,"wires":[]},{"id":"ed58191293d33793","type":"function","z":"996088fd98339b2e","name":"function 15","func":"var bot1speedmin = global.get(\"bot1speedmin\")\nvar bot1speedmax = global.get(\"bot1speedmax\")\nvar botxcontrol = global.get(\"botxcontrol\")\n\n    msg.payload = (\"botmove\" + \",\" + bot1speedmin + \",\" + bot1speedmax+ \",\" + bot1speedmin + \",\" + bot1speedmax);\n    msg.topic = botxcontrol;\n    return msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2000,"wires":[["d1bf695d74cc1469","6e23bec35f7794ce"]]},{"id":"d1bf695d74cc1469","type":"debug","z":"996088fd98339b2e","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":2020,"wires":[]},{"id":"c0103cee0171a9d6","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"speedmin","payload":"0","payloadType":"str","x":130,"y":1960,"wires":[["c8ed89b5afb1599b"]]},{"id":"7e7aef2594c4ddd6","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"speedmax","payload":"180","payloadType":"str","x":140,"y":2040,"wires":[["e5821b5e8d00eb6b"]]},{"id":"86299f84095d997f","type":"function","z":"996088fd98339b2e","name":"function 16","func":"global.set(\"bot1speedmin\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1960,"wires":[["ed58191293d33793"]]},{"id":"cbf353b6641e10e0","type":"function","z":"996088fd98339b2e","name":"function 17","func":"global.set(\"bot1speedmax\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2040,"wires":[["ed58191293d33793"]]},{"id":"6e23bec35f7794ce","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":890,"y":1960,"wires":[]},{"id":"bd031a411f71967f","type":"function","z":"996088fd98339b2e","name":"function 18","func":"var bot1spinspeedmin = global.get(\"bot1spinspeedmin\")\nvar bot1spinspeedmax = global.get(\"bot1spinspeedmax\")\nvar botxcontrol = global.get(\"botxcontrol\")\n\n    msg.payload = (\"botspin\" + \",\" + bot1spinspeedmin + \",\" + bot1spinspeedmax);\n    msg.topic = botxcontrol;\n    return msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2160,"wires":[["72f61fdfb7f93835","54531bc6973279ac","d45d2039b9fd2b31"]]},{"id":"72f61fdfb7f93835","type":"debug","z":"996088fd98339b2e","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":2180,"wires":[]},{"id":"b92bf72067661cbf","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"spinspeedmin","payload":"0","payloadType":"str","x":140,"y":2120,"wires":[["2a404c39f3a49e71"]]},{"id":"162b21da0a5485fe","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"spinspeedmax","payload":"180","payloadType":"str","x":150,"y":2200,"wires":[["14f59c43575756db"]]},{"id":"ca026fb41e6a0897","type":"function","z":"996088fd98339b2e","name":"function 19","func":"global.set(\"bot1spinspeedmin\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2120,"wires":[["bd031a411f71967f"]]},{"id":"f31a1979a05a99c9","type":"function","z":"996088fd98339b2e","name":"function 20","func":"global.set(\"bot1spinspeedmax\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2200,"wires":[["bd031a411f71967f"]]},{"id":"54531bc6973279ac","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":890,"y":2120,"wires":[]},{"id":"b705d639b2420393","type":"function","z":"996088fd98339b2e","name":"function 91","func":"global.set(\"botxcontrol\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1900,"wires":[[]]},{"id":"7bac1c79a2b360d1","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"IBB_bot/x","payload":"IBB_bot/x","payloadType":"str","x":300,"y":1860,"wires":[["b705d639b2420393"]]},{"id":"e9e7e9ae8668f320","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/4,xxxxx,mmmm","payloadType":"str","x":1700,"y":460,"wires":[["8a5e38f2de5074a9"]]},{"id":"af01cf29df556cf6","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/5,xxxxx,mmmm","payloadType":"str","x":1700,"y":500,"wires":[["8a5e38f2de5074a9"]]},{"id":"e509942346e95e90","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/6,xxxxx,mmmm","payloadType":"str","x":1700,"y":540,"wires":[["8a5e38f2de5074a9"]]},{"id":"7f947e84b382b102","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/7,xxxxx,mmmm","payloadType":"str","x":1700,"y":580,"wires":[["8a5e38f2de5074a9"]]},{"id":"b385577e36fe1ca5","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/8,xxxxx,mmmm","payloadType":"str","x":1700,"y":620,"wires":[["8a5e38f2de5074a9"]]},{"id":"696fb97decb554b0","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/9,xxxxx,mmmm","payloadType":"str","x":1700,"y":660,"wires":[["8a5e38f2de5074a9"]]},{"id":"318419668efdf40b","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"botvalue","payload":"IBB_bot/10,xxxxx,mmmm","payloadType":"str","x":1700,"y":700,"wires":[["8a5e38f2de5074a9"]]},{"id":"e15ec031be862c68","type":"ui_button","z":"996088fd98339b2e","name":"","group":"6b9d89a6cc5451f7","order":1,"width":0,"height":0,"passthru":false,"label":"Bot Movement: Stop All","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"botmove,93,94,93,94","payloadType":"str","topic":"topic","topicType":"msg","x":2830,"y":160,"wires":[["8752e9f779cf5818","361bbd5f79cf86e2","ee16ee4bc64a2ea9","c3ce041407acbad1","b1aa1bf8d118543f","56adec9fb4ae3a7c","75c0d1a87c75391e","443fa5a2039fd4e1","160f150c470077f3","df3078b9e0de1acd"]]},{"id":"1c068bde0ee1bdc6","type":"ui_button","z":"996088fd98339b2e","name":"","group":"6b9d89a6cc5451f7","order":2,"width":0,"height":0,"passthru":false,"label":"Bot Movement: Release All","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"botmove,0,180,0,180","payloadType":"str","topic":"topic","topicType":"msg","x":2840,"y":200,"wires":[["8752e9f779cf5818","361bbd5f79cf86e2","ee16ee4bc64a2ea9","c3ce041407acbad1","b1aa1bf8d118543f","56adec9fb4ae3a7c","75c0d1a87c75391e","443fa5a2039fd4e1","160f150c470077f3","df3078b9e0de1acd"]]},{"id":"61218775081f3d68","type":"ui_button","z":"996088fd98339b2e","name":"","group":"6b9d89a6cc5451f7","order":3,"width":0,"height":0,"passthru":false,"label":"Bot Spinner: Stop All","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"botspin,10,20","payloadType":"str","topic":"topic","topicType":"msg","x":2820,"y":300,"wires":[["8752e9f779cf5818","361bbd5f79cf86e2","ee16ee4bc64a2ea9","c3ce041407acbad1","b1aa1bf8d118543f","56adec9fb4ae3a7c","75c0d1a87c75391e","443fa5a2039fd4e1","160f150c470077f3","df3078b9e0de1acd"]]},{"id":"808b4b24779aeb4e","type":"ui_button","z":"996088fd98339b2e","name":"","group":"6b9d89a6cc5451f7","order":4,"width":0,"height":0,"passthru":false,"label":"Bot Spinner: Release All","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"botspin,0,180","payloadType":"str","topic":"topic","topicType":"msg","x":2830,"y":340,"wires":[["8752e9f779cf5818","361bbd5f79cf86e2","ee16ee4bc64a2ea9","c3ce041407acbad1","b1aa1bf8d118543f","56adec9fb4ae3a7c","75c0d1a87c75391e","443fa5a2039fd4e1","160f150c470077f3","df3078b9e0de1acd"]]},{"id":"d0b9f55a204ec85e","type":"ui_dropdown","z":"996088fd98339b2e","d":true,"name":"","label":"","tooltip":"","place":"Select option","group":"","order":19,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"IBB_bot/x1","type":"str"},{"label":"","value":"IBB_bot/x2","type":"str"},{"label":"","value":"IBB_bot/x3","type":"str"},{"label":"","value":"IBB_bot/x4","type":"str"},{"label":"","value":"IBB_bot/x5","type":"str"},{"label":"","value":"IBB_bot/x6","type":"str"},{"label":"","value":"IBB_bot/x7","type":"str"},{"label":"","value":"IBB_bot/x8","type":"str"},{"label":"","value":"IBB_bot/x9","type":"str"},{"label":"","value":"IBB_bot/x10","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":120,"y":1120,"wires":[["f564d48cfdd56f4c"]]},{"id":"f564d48cfdd56f4c","type":"ui_dropdown","z":"996088fd98339b2e","d":true,"name":"","label":"","tooltip":"","place":"Select option","group":"","order":19,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"IBB_bot/1","type":"str"},{"label":"","value":"IBB_bot/2","type":"str"},{"label":"","value":"IBB_bot/3","type":"str"},{"label":"","value":"IBB_bot/4","type":"str"},{"label":"","value":"IBB_bot/5","type":"str"},{"label":"","value":"IBB_bot/6","type":"str"},{"label":"","value":"IBB_bot/7","type":"str"},{"label":"","value":"IBB_bot/8","type":"str"},{"label":"","value":"IBB_bot/9","type":"str"},{"label":"","value":"IBB_bot/10","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":300,"y":1120,"wires":[[]]},{"id":"98544d3b4eeb20d8","type":"ui_dropdown","z":"996088fd98339b2e","name":"","label":"","tooltip":"","place":"Select option","group":"6b9d89a6cc5451f7","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"IBB_bot/1","type":"str"},{"label":"","value":"IBB_bot/2","type":"str"},{"label":"","value":"IBB_bot/3","type":"str"},{"label":"","value":"IBB_bot/4","type":"str"},{"label":"","value":"IBB_bot/5","type":"str"},{"label":"","value":"IBB_bot/6","type":"str"},{"label":"","value":"IBB_bot/7","type":"str"},{"label":"","value":"IBB_bot/8","type":"str"},{"label":"","value":"IBB_bot/9","type":"str"},{"label":"","value":"IBB_bot/10","type":"str"},{"label":"","value":"None","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":340,"y":1900,"wires":[["b705d639b2420393"]]},{"id":"c8ed89b5afb1599b","type":"ui_slider","z":"996088fd98339b2e","name":"speedmin","label":"Speed Min. Set to (0)","tooltip":"","group":"6b9d89a6cc5451f7","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":340,"y":1960,"wires":[["86299f84095d997f"]]},{"id":"e5821b5e8d00eb6b","type":"ui_slider","z":"996088fd98339b2e","name":"speedmax","label":"Speed Max. Set to (180)","tooltip":"","group":"6b9d89a6cc5451f7","order":8,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"180","step":1,"className":"","x":350,"y":2040,"wires":[["cbf353b6641e10e0"]]},{"id":"2a404c39f3a49e71","type":"ui_slider","z":"996088fd98339b2e","name":"spinspeedmin","label":"Spin Speed Min. Set to (0)","tooltip":"","group":"6b9d89a6cc5451f7","order":10,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":360,"y":2120,"wires":[["ca026fb41e6a0897"]]},{"id":"14f59c43575756db","type":"ui_slider","z":"996088fd98339b2e","name":"spinspeedmax","label":"Spin Speed Max. Set to (180)","tooltip":"","group":"6b9d89a6cc5451f7","order":11,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"0","max":"180","step":1,"className":"","x":360,"y":2200,"wires":[["f31a1979a05a99c9"]]},{"id":"29f38767b2dad713","type":"ui_text","z":"996088fd98339b2e","group":"6b9d89a6cc5451f7","order":5,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"Single Bot Controls","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":570,"y":1840,"wires":[]},{"id":"d45d2039b9fd2b31","type":"ui_text","z":"996088fd98339b2e","d":true,"group":"6b9d89a6cc5451f7","order":9,"width":0,"height":0,"name":"botspin","label":"","format":"{{msg.label}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#eeb22f","x":900,"y":2080,"wires":[]},{"id":"49adb22edea61a7e","type":"mongodb4","z":"996088fd98339b2e","clientNode":"e2bc7ac9aa77279e","mode":"collection","collection":"bots","operation":"findOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":460,"y":1500,"wires":[["0e3ab8a501a1a618"]]},{"id":"f8b2643b67a728ea","type":"aedes broker","z":"996088fd98339b2e","name":"mb","mqtt_port":"1773","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"mongodb://localhost:27017","usetls":false,"x":70,"y":60,"wires":[["11e796e6f9ec8af7"],["99aa739ae633e263"]]},{"id":"9f01883ce516b570","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [1]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":80,"wires":[]},{"id":"bd4a8d7fc1ff89a8","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [2]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":120,"wires":[]},{"id":"c1d4ed79dbe70263","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [3]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":160,"wires":[]},{"id":"0aff9f989cb662f6","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [4]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":200,"wires":[]},{"id":"20c855e37af7093e","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [5]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":240,"wires":[]},{"id":"2c27358931296a04","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [6]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":280,"wires":[]},{"id":"fdb89eb2bf9d0942","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [7]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":320,"wires":[]},{"id":"f57516ba4c1256e4","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [8]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":360,"wires":[]},{"id":"c732ff9741678e2e","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [9]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":400,"wires":[]},{"id":"5cd9ec0567d2e249","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"Bot [10]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":440,"wires":[]},{"id":"a1a92a7294c8a75c","type":"switch","z":"996088fd98339b2e","name":"","property":"botname","propertyType":"msg","rules":[{"t":"eq","v":"IBB_bot/1","vt":"str"},{"t":"eq","v":"IBB_bot/2","vt":"str"},{"t":"eq","v":"IBB_bot/3","vt":"str"},{"t":"eq","v":"IBB_bot/4","vt":"str"},{"t":"eq","v":"IBB_bot/5","vt":"str"},{"t":"eq","v":"IBB_bot/6","vt":"str"},{"t":"eq","v":"IBB_bot/7","vt":"str"},{"t":"eq","v":"IBB_bot/8","vt":"str"},{"t":"eq","v":"IBB_bot/9","vt":"str"},{"t":"eq","v":"IBB_bot/10","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":2390,"y":640,"wires":[["c0a7515a0cb6a4da"],["6b23bb8016ad7f93"],["bab98cde9445c9ae"],["2d0ff60e5af6dd78"],["da16f9e2972bef9b"],["6d9a32d9e102a849"],["7bf603a838c2980a"],["419795ce69f6964e"],["306f23250dc28456"],["a6ccc15188a9c24e"]]},{"id":"924da8039eaac193","type":"mqtt in","z":"996088fd98339b2e","name":"","topic":"xbotvalue","qos":"2","datatype":"auto-detect","broker":"daa83730a63c754b","nl":false,"rap":true,"rh":0,"inputs":0,"x":2060,"y":640,"wires":[["2764860400a11f15","e44cc199ed604c23"]]},{"id":"2764860400a11f15","type":"debug","z":"996088fd98339b2e","d":true,"name":"debug 147","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2230,"y":600,"wires":[]},{"id":"e44cc199ed604c23","type":"function","z":"996088fd98339b2e","name":"set payload","func":"const data = msg.payload.split(',');\n\nif(data[0]){\nmsg.botname = data[0];\nmsg.payload = true;\n}\n\nelse {\nmsg.botname = null;\nmsg.payload = false;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2230,"y":640,"wires":[["a1a92a7294c8a75c"]]},{"id":"13e0a665ac54bfaa","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"botname","v":"waiting...","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"false","payloadType":"bool","x":2390,"y":540,"wires":[["c0a7515a0cb6a4da","6b23bb8016ad7f93","bab98cde9445c9ae","2d0ff60e5af6dd78","da16f9e2972bef9b","6d9a32d9e102a849","7bf603a838c2980a","419795ce69f6964e","306f23250dc28456","a6ccc15188a9c24e"]]},{"id":"c0a7515a0cb6a4da","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [1]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":520,"wires":[]},{"id":"6b23bb8016ad7f93","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [2]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":560,"wires":[]},{"id":"bab98cde9445c9ae","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [3]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":600,"wires":[]},{"id":"2d0ff60e5af6dd78","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [4]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":640,"wires":[]},{"id":"da16f9e2972bef9b","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [5]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":680,"wires":[]},{"id":"6d9a32d9e102a849","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [6]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":720,"wires":[]},{"id":"7bf603a838c2980a","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [7]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":760,"wires":[]},{"id":"419795ce69f6964e","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [8]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":800,"wires":[]},{"id":"306f23250dc28456","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [9]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":840,"wires":[]},{"id":"a6ccc15188a9c24e","type":"ui_led","z":"996088fd98339b2e","order":21,"group":"4eaf0997a23522b0","width":0,"height":0,"label":"Bot Node [10]","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2590,"y":880,"wires":[]},{"id":"7c57bfa8852ee1cb","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"readval","payloadType":"str","x":2840,"y":620,"wires":[["8752e9f779cf5818","361bbd5f79cf86e2","ee16ee4bc64a2ea9","c3ce041407acbad1","b1aa1bf8d118543f","56adec9fb4ae3a7c","75c0d1a87c75391e","443fa5a2039fd4e1","160f150c470077f3","df3078b9e0de1acd"]]},{"id":"f63ceceb03b6579c","type":"switch","z":"996088fd98339b2e","name":"","property":"payload[1].botid","propertyType":"msg","rules":[{"t":"eq","v":"IBB_bot/1","vt":"str"},{"t":"eq","v":"IBB_bot/2","vt":"str"},{"t":"eq","v":"IBB_bot/3","vt":"str"},{"t":"eq","v":"IBB_bot/4","vt":"str"},{"t":"eq","v":"IBB_bot/5","vt":"str"},{"t":"eq","v":"IBB_bot/6","vt":"str"},{"t":"eq","v":"IBB_bot/7","vt":"str"},{"t":"eq","v":"IBB_bot/8","vt":"str"},{"t":"eq","v":"IBB_bot/9","vt":"str"},{"t":"eq","v":"IBB_bot/10","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":3930,"y":480,"wires":[["31e073c02b32b0be","420c2a4d90453cf7","baf94335f5457a7f","70ebbe7b6520c4d8","573ec8f5f2f05c58","8caee67db23c0762","7b84d8f2589e8176","5b2c759d8a4b78bd"],["cd48685ff4b346e9","01fba8d87027ee93","4917109e0e1f8641","00b638f954793491","3e4d7062c5ca6c87","69ec18ab76438bd5","edc577d32e83e017"],["a28bfbaa2d143b76","888177e85251b680","65def3dc68cae065","2dd8fc656f7e6c91","8fe8c7ffc7e6afb7","4d00041366926828","c49ca7c78969bee1"],["a7a393ec9c09b3f5","429bafab7dacfaa9","1705657ee85986ce","9bcf8b5a2f8aec80","d3fe21893bfb622e","f6bbdc99949762b4","d71b3c3be701bd03"],["13eb37d0c72dd5e7","3d4671ac1eb127ef","9d0c1b4c4f9e96d7","9e072a6c7d26ebb6","71c405125a22fe27","175aa259f7682c0f","1bec8ae6799193c7"],["9c475a26728ff9e2","b4133cebea6120ca","2019cc81071c1a35","8815e9c4985c2d29","dd611b8da7288242","159d93f680d1644e","e22389138e13fc0e"],["bdb909a0d038789b","5b8599e907a1ab91","d98fb7fbf078bfdb","c7fb92ad9dcf59d4","8e6f9502fba70f47","cec2a2d0df7748cd","af4492dcf709ad95"],["adfe83127e65f129","d0aa82ca42c22ab8","d1681c8768c76702","213742a83982b7be","5fd4f0007cd2e6b0","f9cf56469d756ecb","0f5b368349902c04"],["5292db3fe2e2830b","8ee27e94ccdfa713","d90b6320f83f71c4","ba63112db8b67522","1f971b0b659e91cb","187a1211cfff408e","de30ac6f51d8f56e"],["750bf35984c6b75b","811481e09cc552af","bfed886692817775","7621f0a92112bb87","f14ece6d59fd39eb","63e87a99f024eada","6678b8fdfc7585ba"]]},{"id":"31e073c02b32b0be","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bdccfeb9fb9b1ed3","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":160,"wires":[]},{"id":"420c2a4d90453cf7","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bdccfeb9fb9b1ed3","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":160,"wires":[]},{"id":"baf94335f5457a7f","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bdccfeb9fb9b1ed3","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":160,"wires":[]},{"id":"70ebbe7b6520c4d8","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bdccfeb9fb9b1ed3","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":160,"wires":[]},{"id":"8caee67db23c0762","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bdccfeb9fb9b1ed3","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":160,"wires":[]},{"id":"573ec8f5f2f05c58","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bdccfeb9fb9b1ed3","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":160,"wires":[]},{"id":"7b84d8f2589e8176","type":"ui_text","z":"996088fd98339b2e","group":"bdccfeb9fb9b1ed3","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":120,"wires":[]},{"id":"01fba8d87027ee93","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"a4d942562d17c40d","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":260,"wires":[]},{"id":"4917109e0e1f8641","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"a4d942562d17c40d","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":260,"wires":[]},{"id":"3e4d7062c5ca6c87","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"a4d942562d17c40d","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":260,"wires":[]},{"id":"69ec18ab76438bd5","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"a4d942562d17c40d","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":260,"wires":[]},{"id":"00b638f954793491","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"a4d942562d17c40d","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":260,"wires":[]},{"id":"edc577d32e83e017","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"a4d942562d17c40d","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":260,"wires":[]},{"id":"cd48685ff4b346e9","type":"ui_text","z":"996088fd98339b2e","group":"a4d942562d17c40d","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":220,"wires":[]},{"id":"888177e85251b680","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ba462204762fa0f6","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":360,"wires":[]},{"id":"65def3dc68cae065","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ba462204762fa0f6","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":360,"wires":[]},{"id":"8fe8c7ffc7e6afb7","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ba462204762fa0f6","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":360,"wires":[]},{"id":"4d00041366926828","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ba462204762fa0f6","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":360,"wires":[]},{"id":"2dd8fc656f7e6c91","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ba462204762fa0f6","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":360,"wires":[]},{"id":"c49ca7c78969bee1","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ba462204762fa0f6","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":360,"wires":[]},{"id":"a28bfbaa2d143b76","type":"ui_text","z":"996088fd98339b2e","group":"ba462204762fa0f6","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":320,"wires":[]},{"id":"429bafab7dacfaa9","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"320a87ecf856f8c5","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":460,"wires":[]},{"id":"1705657ee85986ce","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"320a87ecf856f8c5","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":460,"wires":[]},{"id":"d3fe21893bfb622e","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"320a87ecf856f8c5","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":460,"wires":[]},{"id":"f6bbdc99949762b4","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"320a87ecf856f8c5","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":460,"wires":[]},{"id":"9bcf8b5a2f8aec80","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"320a87ecf856f8c5","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":460,"wires":[]},{"id":"d71b3c3be701bd03","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"320a87ecf856f8c5","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":460,"wires":[]},{"id":"a7a393ec9c09b3f5","type":"ui_text","z":"996088fd98339b2e","group":"320a87ecf856f8c5","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":420,"wires":[]},{"id":"3d4671ac1eb127ef","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"e36f7669ed6f0307","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":560,"wires":[]},{"id":"9d0c1b4c4f9e96d7","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"e36f7669ed6f0307","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":560,"wires":[]},{"id":"71c405125a22fe27","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"e36f7669ed6f0307","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":560,"wires":[]},{"id":"175aa259f7682c0f","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"e36f7669ed6f0307","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":560,"wires":[]},{"id":"9e072a6c7d26ebb6","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"e36f7669ed6f0307","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":560,"wires":[]},{"id":"1bec8ae6799193c7","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"e36f7669ed6f0307","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":560,"wires":[]},{"id":"13eb37d0c72dd5e7","type":"ui_text","z":"996088fd98339b2e","group":"e36f7669ed6f0307","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":520,"wires":[]},{"id":"b4133cebea6120ca","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"347cff69bc04d19c","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":680,"wires":[]},{"id":"2019cc81071c1a35","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"347cff69bc04d19c","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":680,"wires":[]},{"id":"dd611b8da7288242","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"347cff69bc04d19c","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":680,"wires":[]},{"id":"159d93f680d1644e","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"347cff69bc04d19c","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":680,"wires":[]},{"id":"8815e9c4985c2d29","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"347cff69bc04d19c","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":680,"wires":[]},{"id":"e22389138e13fc0e","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"347cff69bc04d19c","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":680,"wires":[]},{"id":"9c475a26728ff9e2","type":"ui_text","z":"996088fd98339b2e","group":"347cff69bc04d19c","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":640,"wires":[]},{"id":"5b8599e907a1ab91","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ace97279cdfd97f3","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":800,"wires":[]},{"id":"d98fb7fbf078bfdb","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ace97279cdfd97f3","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":800,"wires":[]},{"id":"8e6f9502fba70f47","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ace97279cdfd97f3","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":800,"wires":[]},{"id":"cec2a2d0df7748cd","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ace97279cdfd97f3","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":800,"wires":[]},{"id":"c7fb92ad9dcf59d4","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ace97279cdfd97f3","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":800,"wires":[]},{"id":"af4492dcf709ad95","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"ace97279cdfd97f3","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":800,"wires":[]},{"id":"bdb909a0d038789b","type":"ui_text","z":"996088fd98339b2e","group":"ace97279cdfd97f3","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":760,"wires":[]},{"id":"d0aa82ca42c22ab8","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"59d42c3d21f01d74","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":900,"wires":[]},{"id":"d1681c8768c76702","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"59d42c3d21f01d74","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":900,"wires":[]},{"id":"5fd4f0007cd2e6b0","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"59d42c3d21f01d74","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":900,"wires":[]},{"id":"f9cf56469d756ecb","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"59d42c3d21f01d74","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":900,"wires":[]},{"id":"213742a83982b7be","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"59d42c3d21f01d74","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":900,"wires":[]},{"id":"0f5b368349902c04","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"59d42c3d21f01d74","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":900,"wires":[]},{"id":"adfe83127e65f129","type":"ui_text","z":"996088fd98339b2e","group":"59d42c3d21f01d74","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":860,"wires":[]},{"id":"8ee27e94ccdfa713","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"2087e2ff904924e9","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":1000,"wires":[]},{"id":"d90b6320f83f71c4","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"2087e2ff904924e9","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":1000,"wires":[]},{"id":"1f971b0b659e91cb","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"2087e2ff904924e9","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":1000,"wires":[]},{"id":"187a1211cfff408e","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"2087e2ff904924e9","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":1000,"wires":[]},{"id":"ba63112db8b67522","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"2087e2ff904924e9","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":1000,"wires":[]},{"id":"de30ac6f51d8f56e","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"2087e2ff904924e9","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":1000,"wires":[]},{"id":"5292db3fe2e2830b","type":"ui_text","z":"996088fd98339b2e","group":"2087e2ff904924e9","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":960,"wires":[]},{"id":"811481e09cc552af","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bed39e390c300a90","order":2,"width":3,"height":3,"gtype":"donut","title":"Rx CH1","label":"","format":"{{msg.payload[0].ch1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4200,"y":1100,"wires":[]},{"id":"bfed886692817775","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bed39e390c300a90","order":4,"width":3,"height":3,"gtype":"donut","title":"Rx CH2","label":"","format":"{{msg.payload[0].ch2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4360,"y":1100,"wires":[]},{"id":"f14ece6d59fd39eb","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bed39e390c300a90","order":3,"width":3,"height":3,"gtype":"donut","title":"ESC CH1","label":"","format":"{{msg.payload[0].esc1}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4660,"y":1100,"wires":[]},{"id":"63e87a99f024eada","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bed39e390c300a90","order":5,"width":3,"height":3,"gtype":"donut","title":"ESC CH2","label":"","format":"{{msg.payload[0].esc2}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4800,"y":1100,"wires":[]},{"id":"7621f0a92112bb87","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bed39e390c300a90","order":6,"width":3,"height":3,"gtype":"donut","title":"Rx CH3","label":"","format":"{{msg.payload[0].ch3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4500,"y":1100,"wires":[]},{"id":"6678b8fdfc7585ba","type":"ui_gauge","z":"996088fd98339b2e","name":"","group":"bed39e390c300a90","order":7,"width":3,"height":3,"gtype":"donut","title":"ESC CH3","label":"","format":"{{msg.payload[0].esc3}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":4940,"y":1100,"wires":[]},{"id":"750bf35984c6b75b","type":"ui_text","z":"996088fd98339b2e","group":"bed39e390c300a90","order":1,"width":0,"height":0,"name":"Single Bot Controls","label":"","format":"{{msg.payload[1].subid}}","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"14","color":"#fec686","x":4230,"y":1060,"wires":[]},{"id":"d9902fbfb1a0bbda","type":"ui_led","z":"996088fd98339b2e","d":true,"order":21,"group":"5820fba4b1b8cdf6","width":0,"height":0,"label":"{{msg.botname}}","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":2390,"y":40,"wires":[]},{"id":"88fa18dcee3167af","type":"mqtt out","z":"996088fd98339b2e","d":true,"name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":770,"y":180,"wires":[]},{"id":"3f114637debda458","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/1","payload":"botspin,10,20","payloadType":"str","x":520,"y":40,"wires":[["88fa18dcee3167af"]]},{"id":"a409d3f0a3569f86","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/2","payload":"botspin,10,20","payloadType":"str","x":520,"y":80,"wires":[["88fa18dcee3167af"]]},{"id":"7b55fa245ed61c06","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/3","payload":"botspin,10,20","payloadType":"str","x":520,"y":120,"wires":[["88fa18dcee3167af"]]},{"id":"254783e96283fa93","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/4","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/4","payload":"botspin,10,20","payloadType":"str","x":520,"y":160,"wires":[["88fa18dcee3167af"]]},{"id":"f756a3d82e56959f","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/5","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/5","payload":"botspin,10,20","payloadType":"str","x":520,"y":200,"wires":[["88fa18dcee3167af"]]},{"id":"dd9e5d8d320150ad","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/6","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/6","payload":"botspin,10,20","payloadType":"str","x":520,"y":240,"wires":[["88fa18dcee3167af"]]},{"id":"672d13b568eb3076","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/7","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/7","payload":"botspin,10,20","payloadType":"str","x":520,"y":280,"wires":[["88fa18dcee3167af"]]},{"id":"bb5b021a307c9feb","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/8","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/8","payload":"botspin,10,20","payloadType":"str","x":520,"y":320,"wires":[["88fa18dcee3167af"]]},{"id":"a20e3ccd4dbc272f","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/9","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/9","payload":"botspin,10,20","payloadType":"str","x":520,"y":360,"wires":[["88fa18dcee3167af"]]},{"id":"d46d16a77b070265","type":"inject","z":"996088fd98339b2e","d":true,"name":"IBB_bot/10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"IBB_bot/10","payload":"botspin,10,20","payloadType":"str","x":530,"y":400,"wires":[["88fa18dcee3167af"]]},{"id":"e5a84ae8d3b538e7","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"45","topic":"","payload":"botspin,10,20","payloadType":"str","x":2800,"y":260,"wires":[["61218775081f3d68"]]},{"id":"aaac0e2559f5a3d8","type":"inject","z":"996088fd98339b2e","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"45","topic":"","payload":"botmove,93,94,93,94","payloadType":"str","x":2820,"y":120,"wires":[["e15ec031be862c68"]]},{"id":"244877fdfaa2ca75","type":"mqtt out","z":"996088fd98339b2e","name":"Update SubID After Bot Restart","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":890,"y":1500,"wires":[]},{"id":"5b2c759d8a4b78bd","type":"debug","z":"996088fd98339b2e","d":true,"name":"debug 177","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3790,"y":1080,"wires":[]},{"id":"c8626f088c9dbd15","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1240,"wires":[["412db25b30c50168"]]},{"id":"d33e3d5ea2505f8b","type":"switch","z":"996088fd98339b2e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"IBB_bot/1","vt":"str"},{"t":"eq","v":"IBB_bot/2","vt":"str"},{"t":"eq","v":"IBB_bot/3","vt":"str"},{"t":"eq","v":"IBB_bot/4","vt":"str"},{"t":"eq","v":"IBB_bot/5","vt":"str"},{"t":"eq","v":"IBB_bot/6","vt":"str"},{"t":"eq","v":"IBB_bot/7","vt":"str"},{"t":"eq","v":"IBB_bot/8","vt":"str"},{"t":"eq","v":"IBB_bot/9","vt":"str"},{"t":"eq","v":"IBB_bot/10","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1010,"y":1400,"wires":[["c8626f088c9dbd15"],["45fa1a43837eae4b"],["f4d8ae43bb4d23d3"],["1245eac4b776cc15"],["52162f1c629a42f3"],["17dfc5f81c1584ee"],["de106a587127da14"],["dd17287a8d03a156"],["c4f593fcce7ac542"],["18f9ab4471669243"]]},{"id":"45fa1a43837eae4b","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1280,"wires":[["e2efa8c67c450dcd"]]},{"id":"f4d8ae43bb4d23d3","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1320,"wires":[["59f27415f5f99329"]]},{"id":"1245eac4b776cc15","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1360,"wires":[["b4cdb16c248d599d"]]},{"id":"52162f1c629a42f3","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1400,"wires":[["20a9efd347c5096a"]]},{"id":"17dfc5f81c1584ee","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1440,"wires":[["89ad7eade3b820b6"]]},{"id":"de106a587127da14","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1480,"wires":[["759ba610f7f59414"]]},{"id":"dd17287a8d03a156","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1520,"wires":[["f1addbe14a4d2a3b"]]},{"id":"c4f593fcce7ac542","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1560,"wires":[["aeb3f9c80a6799f6"]]},{"id":"18f9ab4471669243","type":"trigger","z":"996088fd98339b2e","name":"","op1":"","op2":"reset","op1type":"nul","op2type":"str","duration":"25","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1600,"wires":[["7a6375b8b01c7c41"]]},{"id":"412db25b30c50168","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/1","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1240,"wires":[]},{"id":"e2efa8c67c450dcd","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/2","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1280,"wires":[]},{"id":"59f27415f5f99329","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/3","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1320,"wires":[]},{"id":"b4cdb16c248d599d","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/4","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1360,"wires":[]},{"id":"20a9efd347c5096a","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/5","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1400,"wires":[]},{"id":"89ad7eade3b820b6","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/6","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1440,"wires":[]},{"id":"759ba610f7f59414","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/7","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1480,"wires":[]},{"id":"f1addbe14a4d2a3b","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/8","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1520,"wires":[]},{"id":"aeb3f9c80a6799f6","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/9","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1400,"y":1560,"wires":[]},{"id":"7a6375b8b01c7c41","type":"mqtt out","z":"996088fd98339b2e","name":"","topic":"IBB_bot/10","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":1410,"y":1600,"wires":[]},{"id":"9aead9c430756503","type":"inject","z":"996088fd98339b2e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"reset","payloadType":"str","x":1210,"y":1180,"wires":[["412db25b30c50168","e2efa8c67c450dcd","59f27415f5f99329","b4cdb16c248d599d","20a9efd347c5096a","89ad7eade3b820b6","759ba610f7f59414","f1addbe14a4d2a3b","aeb3f9c80a6799f6","7a6375b8b01c7c41"]]},{"id":"0db05ecbb417e47a","type":"mqtt out","z":"35c3a810e5bbdf54","name":"QA CSV Tx","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":510,"y":260,"wires":[]},{"id":"ab874e232fa67e64","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot1","payload":"/rules/docs/qabot1.csv","payloadType":"str","x":210,"y":100,"wires":[["0db05ecbb417e47a"]]},{"id":"61ec6a3781a8efe9","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot2","payload":"/rules/docs/qabot2.csv","payloadType":"str","x":210,"y":140,"wires":[["0db05ecbb417e47a"]]},{"id":"0765ed2c4774ae1b","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot3","payload":"/rules/docs/qabot3.csv","payloadType":"str","x":210,"y":180,"wires":[["0db05ecbb417e47a"]]},{"id":"a11367dc61aa4f2d","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot4","payload":"/rules/docs/qabot4.csv","payloadType":"str","x":210,"y":220,"wires":[["0db05ecbb417e47a"]]},{"id":"ba0427dae3e30403","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot5","payload":"/rules/docs/qabot5.csv","payloadType":"str","x":210,"y":260,"wires":[["0db05ecbb417e47a"]]},{"id":"7ee4aaf1db676a0d","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot6","payload":"/rules/docs/qabot6.csv","payloadType":"str","x":210,"y":300,"wires":[["0db05ecbb417e47a"]]},{"id":"9babfc4b2432e9e2","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot7","payload":"/rules/docs/qabot7.csv","payloadType":"str","x":210,"y":340,"wires":[["0db05ecbb417e47a"]]},{"id":"cd4502ee3a29d397","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot8","payload":"/rules/docs/qabot8.csv","payloadType":"str","x":210,"y":380,"wires":[["0db05ecbb417e47a"]]},{"id":"7384579620441956","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot9","payload":"/rules/docs/qabot9.csv","payloadType":"str","x":210,"y":420,"wires":[["0db05ecbb417e47a"]]},{"id":"d16469b01ed4439a","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bot10","payload":"/rules/docs/qabot10.csv","payloadType":"str","x":220,"y":460,"wires":[["0db05ecbb417e47a"]]},{"id":"6540b38c1bd97c2c","type":"switch","z":"35c3a810e5bbdf54","name":"","property":"user","propertyType":"msg","rules":[{"t":"eq","v":"bot1","vt":"str"},{"t":"eq","v":"bot2","vt":"str"},{"t":"eq","v":"bot3","vt":"str"},{"t":"eq","v":"bot4","vt":"str"},{"t":"eq","v":"bot5","vt":"str"},{"t":"eq","v":"bot6","vt":"str"},{"t":"eq","v":"bot7","vt":"str"},{"t":"eq","v":"bot8","vt":"str"},{"t":"eq","v":"bot9","vt":"str"},{"t":"eq","v":"bot10","vt":"str"},{"t":"eq","v":"bootx","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":2150,"y":460,"wires":[["d5d1f1c1fffa9c98"],["1723906ba12c804e"],["da6e1210f933fd6d"],["aa732f84da7684b5"],["08e09adde6ed770c"],["8143ce5b9e6943d9"],["ead53eeba88feb50"],["dcd0fdf8d71b0a6a"],["98f852caab8acc19"],["f8b007d51d72ee9c"],["6f52311baea373f9","91186202a9568367","939ebfef5c4b9894"]]},{"id":"19ba650063fe087a","type":"function","z":"35c3a810e5bbdf54","name":"BOT  - NAME PORT ID SECRET","func":"const bots = [\"bot1\", \"bot2\", \"bot3\", \"bot4\", \"bot5\", \"bot6\", \"bot7\", \"bot8\", \"bot9\", \"bot10\", \"bootx\"];\nconst ports = [1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1000];\nconst ids = [\"IBB_bot/1\", \"IBB_bot/2\", \"IBB_bot/3\", \"IBB_bot/4\", \"IBB_bot/5\", \"IBB_bot/6\", \"IBB_bot/7\", \"IBB_bot/8\", \"IBB_bot/9\", \"IBB_bot/10\", \"IBB_bot/bootx\"];\n\nvar x = 0;\n\n\nbots.forEach((bot) => {\n    let pwd = (Math.random() + 1).toString(36).substring(7);\n    msg.payload = \"echo \"+pwd+\"|node-red-admin hash-pw\";\n    //msg.payload = \"echo xoxo|node-red-admin hash-pw\";\n    msg.topic = pwd;\n    msg.user = bot;\n    msg.port = ports[x];\n    msg.id = ids[x]\n    x = x+1;\n    node.send (msg);\n});\n    return null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":460,"wires":[["cc5a57df1824db0d","489bfab6414f938b"]]},{"id":"0ed5ed9bc738f147","type":"debug","z":"35c3a810e5bbdf54","d":true,"name":"debug 84","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1860,"y":400,"wires":[]},{"id":"af376bd10cb63b86","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":1520,"y":400,"wires":[["19ba650063fe087a"]]},{"id":"cc5a57df1824db0d","type":"delay","z":"35c3a810e5bbdf54","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":2,"x":1870,"y":460,"wires":[["0ed5ed9bc738f147","6540b38c1bd97c2c"],[]]},{"id":"91186202a9568367","type":"debug","z":"35c3a810e5bbdf54","name":"debug 85","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2020,"y":580,"wires":[]},{"id":"d5d1f1c1fffa9c98","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2530,"y":140,"wires":[["04e0b978558dbcb3"],[],[]]},{"id":"04e0b978558dbcb3","type":"function","z":"35c3a810e5bbdf54","name":"function 62","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":140,"wires":[["6b3a099df67a2f43","8f45c6723f31c378","cd97023f7c3473a4"]]},{"id":"6b3a099df67a2f43","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2880,"y":140,"wires":[["efc5dc5b2b9b2642"]]},{"id":"efc5dc5b2b9b2642","type":"debug","z":"35c3a810e5bbdf54","name":"debug 105","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3320,"y":140,"wires":[]},{"id":"33fe986d7a372c2c","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":3110,"y":100,"wires":[["67754cae5037058f"]]},{"id":"8f45c6723f31c378","type":"function","z":"35c3a810e5bbdf54","name":"function 89","func":"msg.payload = 'id;port\\n' +\nmsg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":100,"wires":[["33fe986d7a372c2c"]]},{"id":"67754cae5037058f","type":"debug","z":"35c3a810e5bbdf54","name":"debug 132","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":100,"wires":[]},{"id":"546843d056debf9c","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":3110,"y":200,"wires":[["8fd4768e1e4b4c10"]]},{"id":"cd97023f7c3473a4","type":"function","z":"35c3a810e5bbdf54","name":"function 90","func":"msg.payload = 'secret;id\\n' +\nmsg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":200,"wires":[["546843d056debf9c"]]},{"id":"8fd4768e1e4b4c10","type":"debug","z":"35c3a810e5bbdf54","name":"debug 133","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":200,"wires":[]},{"id":"6f52311baea373f9","type":"mqtt out","z":"35c3a810e5bbdf54","name":"","topic":"credupdate","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":2030,"y":620,"wires":[]},{"id":"45ab178e1b8fc0b2","type":"mqtt out","z":"35c3a810e5bbdf54","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"daa83730a63c754b","x":270,"y":600,"wires":[]},{"id":"658d135970cd118a","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"5","topic":"cmdlist","payload":"[\"date\",\"hostname\",\"xyz\",\"ls\",\"clear\"]","payloadType":"json","x":130,"y":600,"wires":[["45ab178e1b8fc0b2","f6bc3f562932612c"]]},{"id":"f6bc3f562932612c","type":"debug","z":"35c3a810e5bbdf54","d":true,"name":"debug 138","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":660,"wires":[]},{"id":"5150e9f7dbd98118","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":3650,"y":120,"wires":[["ce7c3c921c914e4d"],[],[]]},{"id":"ce7c3c921c914e4d","type":"function","z":"35c3a810e5bbdf54","name":"function 92","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"C:\\\\dock\\\\ibb\\\\rules\\\\bots\\\\\" +msg.user+ \"\\\\.node-red\\\\settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3830,"y":120,"wires":[["47d77c68160c80c4","8e8f24a79055403b","56b602f67bae0c20"]]},{"id":"47d77c68160c80c4","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4000,"y":120,"wires":[["818b30cfcdfe2964"]]},{"id":"818b30cfcdfe2964","type":"debug","z":"35c3a810e5bbdf54","name":"debug 139","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4440,"y":120,"wires":[]},{"id":"c71d980d00d698b8","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":4240,"y":80,"wires":[["06f174984c8881d4"]]},{"id":"8e8f24a79055403b","type":"function","z":"35c3a810e5bbdf54","name":"function 93","func":"msg.payload = 'id;port\\n' +\nmsg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4010,"y":80,"wires":[["c71d980d00d698b8"]]},{"id":"06f174984c8881d4","type":"debug","z":"35c3a810e5bbdf54","name":"debug 140","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4560,"y":80,"wires":[]},{"id":"e93afd2c646479a8","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":4230,"y":180,"wires":[["78c4376799669ed8"]]},{"id":"56b602f67bae0c20","type":"function","z":"35c3a810e5bbdf54","name":"function 94","func":"msg.payload = 'secret;id\\n' +\nmsg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4010,"y":180,"wires":[["e93afd2c646479a8"]]},{"id":"78c4376799669ed8","type":"debug","z":"35c3a810e5bbdf54","name":"debug 141","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4560,"y":180,"wires":[]},{"id":"b8bb5da160e8c0f0","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":3650,"y":280,"wires":[["4511136c8272dd2f"],[],[]]},{"id":"4511136c8272dd2f","type":"function","z":"35c3a810e5bbdf54","name":"function 95","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"C:\\\\dock\\\\ibb\\\\rules\\\\bots\\\\\" +msg.user+ \"\\\\.node-red\\\\settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3830,"y":280,"wires":[["98857ae179d11653","51b2f9b164755d43","2f00c0860bf69952"]]},{"id":"98857ae179d11653","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":4000,"y":280,"wires":[["dd2dc823c6923fe2"]]},{"id":"dd2dc823c6923fe2","type":"debug","z":"35c3a810e5bbdf54","name":"debug 142","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4440,"y":280,"wires":[]},{"id":"dca581dfd1f3b116","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":4240,"y":240,"wires":[["87778b5f6f8877de"]]},{"id":"51b2f9b164755d43","type":"function","z":"35c3a810e5bbdf54","name":"function 96","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4010,"y":240,"wires":[["dca581dfd1f3b116"]]},{"id":"87778b5f6f8877de","type":"debug","z":"35c3a810e5bbdf54","name":"debug 143","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4560,"y":240,"wires":[]},{"id":"00cbdfade18a5513","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":4230,"y":340,"wires":[["a54b2cdbc950c2e8"]]},{"id":"2f00c0860bf69952","type":"function","z":"35c3a810e5bbdf54","name":"function 97","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4010,"y":340,"wires":[["00cbdfade18a5513"]]},{"id":"a54b2cdbc950c2e8","type":"debug","z":"35c3a810e5bbdf54","name":"debug 144","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":4560,"y":340,"wires":[]},{"id":"7ae11089620539a4","type":"function","z":"35c3a810e5bbdf54","name":"function 98","func":"var qacsv = [];\nvar paths = ['/rules/docs/qabot1.csv', '/rules/docs/qabot2.csv', '/rules/docs/qabot3.csv', '/rules/docs/qabot4.csv', '/rules/docs/qabot5.csv', '/rules/docs/qabot6.csv', '/rules/docs/qabot7.csv', '/rules/docs/qabot8.csv', '/rules/docs/qabot9.csv', '/rules/docs/qabot10.csv'];\n\nfor (var i = 0; i < paths.length; i++) {\n    var x = 0;\n    x= i+1;\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = paths[i];\n    new_msg.topic = \"bot\" + x;\n    qacsv.push(new_msg);\n}\n\nreturn [qacsv];\n//return msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":160,"wires":[["0db05ecbb417e47a"]]},{"id":"2058768da8d6282d","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":60,"wires":[["7ae11089620539a4"]]},{"id":"489bfab6414f938b","type":"debug","z":"35c3a810e5bbdf54","d":true,"name":"debug 146","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":580,"wires":[]},{"id":"084498e06bbbe001","type":"ui_button","z":"35c3a810e5bbdf54","name":"Rotate Credentials","group":"d6bb137678716e50","order":1,"width":0,"height":0,"passthru":false,"label":"Rotate Secret [40~60secs*]","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":1290,"y":460,"wires":[["19ba650063fe087a"]]},{"id":"a662cd72c43560e1","type":"ui_button","z":"35c3a810e5bbdf54","name":"Push Questions: To All","group":"d6bb137678716e50","order":1,"width":0,"height":0,"passthru":false,"label":"Push Questions: To All","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":520,"y":100,"wires":[["7ae11089620539a4"]]},{"id":"f4d8eefa55542db3","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1610,"y":300,"wires":[["fa4f691714fdb83e"],["fa4f691714fdb83e"],["fa4f691714fdb83e"]]},{"id":"fa4f691714fdb83e","type":"debug","z":"35c3a810e5bbdf54","name":"debug 149","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":300,"wires":[]},{"id":"38adc283fb6a6d16","type":"inject","z":"35c3a810e5bbdf54","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"echo xoxo|node-red-admin hash-pw","payloadType":"str","x":1430,"y":300,"wires":[["f4d8eefa55542db3"]]},{"id":"1723906ba12c804e","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2530,"y":340,"wires":[["cb5391457e1d38ba"],[],[]]},{"id":"cb5391457e1d38ba","type":"function","z":"35c3a810e5bbdf54","name":"function 99","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":340,"wires":[["11f4a9a0fa5f2a71","6359fc1c13843a7d","c2d3d6b9cd369f3e"]]},{"id":"11f4a9a0fa5f2a71","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2880,"y":340,"wires":[["41d193416e60020b"]]},{"id":"41d193416e60020b","type":"debug","z":"35c3a810e5bbdf54","name":"debug 150","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3320,"y":340,"wires":[]},{"id":"74633cfc1ddc0dbb","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":300,"wires":[["be7e8629d5a02f1e"]]},{"id":"6359fc1c13843a7d","type":"function","z":"35c3a810e5bbdf54","name":"function 100","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":300,"wires":[["74633cfc1ddc0dbb"]]},{"id":"be7e8629d5a02f1e","type":"debug","z":"35c3a810e5bbdf54","name":"debug 151","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":300,"wires":[]},{"id":"3e766b8842201448","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":400,"wires":[["ae446f01e13baaf2"]]},{"id":"c2d3d6b9cd369f3e","type":"function","z":"35c3a810e5bbdf54","name":"function 101","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":400,"wires":[["3e766b8842201448"]]},{"id":"ae446f01e13baaf2","type":"debug","z":"35c3a810e5bbdf54","name":"debug 152","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":400,"wires":[]},{"id":"da6e1210f933fd6d","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2530,"y":520,"wires":[["365844dc1ebe3c01"],[],[]]},{"id":"365844dc1ebe3c01","type":"function","z":"35c3a810e5bbdf54","name":"function 102","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":520,"wires":[["9c4379fb3f023a99","1e147dda58849dcb","ce032d35fc7d1967"]]},{"id":"9c4379fb3f023a99","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2880,"y":520,"wires":[["f93564f504bcae47"]]},{"id":"f93564f504bcae47","type":"debug","z":"35c3a810e5bbdf54","name":"debug 153","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3320,"y":520,"wires":[]},{"id":"3d02c7cf9d4dafbb","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":480,"wires":[["26e67f0bda088885"]]},{"id":"1e147dda58849dcb","type":"function","z":"35c3a810e5bbdf54","name":"function 103","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":480,"wires":[["3d02c7cf9d4dafbb"]]},{"id":"26e67f0bda088885","type":"debug","z":"35c3a810e5bbdf54","name":"debug 154","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":480,"wires":[]},{"id":"83e842c425128784","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":580,"wires":[["1a7d4052831ad5b1"]]},{"id":"ce032d35fc7d1967","type":"function","z":"35c3a810e5bbdf54","name":"function 104","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":580,"wires":[["83e842c425128784"]]},{"id":"1a7d4052831ad5b1","type":"debug","z":"35c3a810e5bbdf54","name":"debug 155","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":580,"wires":[]},{"id":"aa732f84da7684b5","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2530,"y":720,"wires":[["f721022f23b975cb"],[],[]]},{"id":"f721022f23b975cb","type":"function","z":"35c3a810e5bbdf54","name":"function 105","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":720,"wires":[["90509434ab7709b4","9b5f0bcf2cb20d52","3c9b9881d1d0f1a4"]]},{"id":"90509434ab7709b4","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2880,"y":720,"wires":[["982feeb93aacf483"]]},{"id":"982feeb93aacf483","type":"debug","z":"35c3a810e5bbdf54","name":"debug 156","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3320,"y":720,"wires":[]},{"id":"9fef96edd00d278a","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":680,"wires":[["e8f90493ebe1c0f9"]]},{"id":"9b5f0bcf2cb20d52","type":"function","z":"35c3a810e5bbdf54","name":"function 106","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":680,"wires":[["9fef96edd00d278a"]]},{"id":"e8f90493ebe1c0f9","type":"debug","z":"35c3a810e5bbdf54","name":"debug 157","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":680,"wires":[]},{"id":"9da24ba950eaa05d","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":780,"wires":[["6732b9df3cba9aad"]]},{"id":"3c9b9881d1d0f1a4","type":"function","z":"35c3a810e5bbdf54","name":"function 107","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":780,"wires":[["9da24ba950eaa05d"]]},{"id":"6732b9df3cba9aad","type":"debug","z":"35c3a810e5bbdf54","name":"debug 158","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":780,"wires":[]},{"id":"08e09adde6ed770c","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2530,"y":900,"wires":[["a32c3ba6118b4667"],[],[]]},{"id":"a32c3ba6118b4667","type":"function","z":"35c3a810e5bbdf54","name":"function 108","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2710,"y":900,"wires":[["2a6b7ace56be0824","87f6637d65c081b7","e2468bea653365ad"]]},{"id":"2a6b7ace56be0824","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2880,"y":900,"wires":[["c99fac4ed953cbc1"]]},{"id":"c99fac4ed953cbc1","type":"debug","z":"35c3a810e5bbdf54","name":"debug 159","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3320,"y":900,"wires":[]},{"id":"be90a15ad8f96e4d","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":860,"wires":[["46eef2fa6a59eec5"]]},{"id":"87f6637d65c081b7","type":"function","z":"35c3a810e5bbdf54","name":"function 109","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":860,"wires":[["be90a15ad8f96e4d"]]},{"id":"46eef2fa6a59eec5","type":"debug","z":"35c3a810e5bbdf54","name":"debug 160","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":860,"wires":[]},{"id":"0d22793467f6a123","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3110,"y":960,"wires":[["a967812fd23d8547"]]},{"id":"e2468bea653365ad","type":"function","z":"35c3a810e5bbdf54","name":"function 110","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2890,"y":960,"wires":[["0d22793467f6a123"]]},{"id":"a967812fd23d8547","type":"debug","z":"35c3a810e5bbdf54","name":"debug 161","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3440,"y":960,"wires":[]},{"id":"8143ce5b9e6943d9","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2550,"y":1100,"wires":[["922fa89a7529d125"],[],[]]},{"id":"922fa89a7529d125","type":"function","z":"35c3a810e5bbdf54","name":"function 111","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1100,"wires":[["5fa22ec4b14f830b","6a9d119ffaf05701","8db3178c01217659"]]},{"id":"5fa22ec4b14f830b","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2900,"y":1100,"wires":[["237e9638f246b384"]]},{"id":"237e9638f246b384","type":"debug","z":"35c3a810e5bbdf54","name":"debug 162","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3340,"y":1100,"wires":[]},{"id":"301ffc6ac70f2b62","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1060,"wires":[["5ea435904a239f43"]]},{"id":"6a9d119ffaf05701","type":"function","z":"35c3a810e5bbdf54","name":"function 112","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1060,"wires":[["301ffc6ac70f2b62"]]},{"id":"5ea435904a239f43","type":"debug","z":"35c3a810e5bbdf54","name":"debug 163","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1060,"wires":[]},{"id":"544bfaeabf2f3cfc","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1160,"wires":[["3e488b36ca613442"]]},{"id":"8db3178c01217659","type":"function","z":"35c3a810e5bbdf54","name":"function 113","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1160,"wires":[["544bfaeabf2f3cfc"]]},{"id":"3e488b36ca613442","type":"debug","z":"35c3a810e5bbdf54","name":"debug 164","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1160,"wires":[]},{"id":"ead53eeba88feb50","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2550,"y":1300,"wires":[["70bce6dd27917e79"],[],[]]},{"id":"70bce6dd27917e79","type":"function","z":"35c3a810e5bbdf54","name":"function 114","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1300,"wires":[["dcefbfd6707a2b82","b6258961a9b33af3","b85210647defe663"]]},{"id":"dcefbfd6707a2b82","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2900,"y":1300,"wires":[["b18fb0f7a40ff636"]]},{"id":"b18fb0f7a40ff636","type":"debug","z":"35c3a810e5bbdf54","name":"debug 165","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3340,"y":1300,"wires":[]},{"id":"9396beb86f781b2a","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1260,"wires":[["42035b6975271b9a"]]},{"id":"b6258961a9b33af3","type":"function","z":"35c3a810e5bbdf54","name":"function 115","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1260,"wires":[["9396beb86f781b2a"]]},{"id":"42035b6975271b9a","type":"debug","z":"35c3a810e5bbdf54","name":"debug 166","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1260,"wires":[]},{"id":"f3599608ac6cc954","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1360,"wires":[["0f262376ae98e4b5"]]},{"id":"b85210647defe663","type":"function","z":"35c3a810e5bbdf54","name":"function 116","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1360,"wires":[["f3599608ac6cc954"]]},{"id":"0f262376ae98e4b5","type":"debug","z":"35c3a810e5bbdf54","name":"debug 167","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1360,"wires":[]},{"id":"dcd0fdf8d71b0a6a","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2550,"y":1500,"wires":[["3490134cc63a392d"],[],[]]},{"id":"3490134cc63a392d","type":"function","z":"35c3a810e5bbdf54","name":"function 117","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1500,"wires":[["016b32f2cc7d5ed5","c340c1ddf3b7ad93","e06ecb37aa192ef5"]]},{"id":"016b32f2cc7d5ed5","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2900,"y":1500,"wires":[["7003209bd2f9b043"]]},{"id":"7003209bd2f9b043","type":"debug","z":"35c3a810e5bbdf54","name":"debug 168","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3340,"y":1500,"wires":[]},{"id":"c8b589d5a077320a","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1460,"wires":[["a137ed5409a01aec"]]},{"id":"c340c1ddf3b7ad93","type":"function","z":"35c3a810e5bbdf54","name":"function 118","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1460,"wires":[["c8b589d5a077320a"]]},{"id":"a137ed5409a01aec","type":"debug","z":"35c3a810e5bbdf54","name":"debug 169","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1460,"wires":[]},{"id":"d332b0245ab2f79b","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1560,"wires":[["7397b52957dda741"]]},{"id":"e06ecb37aa192ef5","type":"function","z":"35c3a810e5bbdf54","name":"function 119","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1560,"wires":[["d332b0245ab2f79b"]]},{"id":"7397b52957dda741","type":"debug","z":"35c3a810e5bbdf54","name":"debug 170","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1560,"wires":[]},{"id":"98f852caab8acc19","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2550,"y":1680,"wires":[["562fa6bc646ebd78"],[],[]]},{"id":"562fa6bc646ebd78","type":"function","z":"35c3a810e5bbdf54","name":"function 120","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1680,"wires":[["74d665d833b44f02","50095909c4fe1d8f","8409ed74c9fb08cf"]]},{"id":"74d665d833b44f02","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2900,"y":1680,"wires":[["baf600ed30809013"]]},{"id":"baf600ed30809013","type":"debug","z":"35c3a810e5bbdf54","name":"debug 171","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3340,"y":1680,"wires":[]},{"id":"a25b850f34906278","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1640,"wires":[["560f0c758b69349c"]]},{"id":"50095909c4fe1d8f","type":"function","z":"35c3a810e5bbdf54","name":"function 121","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1640,"wires":[["a25b850f34906278"]]},{"id":"560f0c758b69349c","type":"debug","z":"35c3a810e5bbdf54","name":"debug 172","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1640,"wires":[]},{"id":"5f8c639443d244d6","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1740,"wires":[["09026d316c4d2edf"]]},{"id":"8409ed74c9fb08cf","type":"function","z":"35c3a810e5bbdf54","name":"function 122","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1740,"wires":[["5f8c639443d244d6"]]},{"id":"09026d316c4d2edf","type":"debug","z":"35c3a810e5bbdf54","name":"debug 173","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1740,"wires":[]},{"id":"f8b007d51d72ee9c","type":"exec","z":"35c3a810e5bbdf54","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":2550,"y":1860,"wires":[["91bd61b6713afaf1"],[],[]]},{"id":"91bd61b6713afaf1","type":"function","z":"35c3a810e5bbdf54","name":"function 123","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\nmsg.filepath = \"/rules/bots/\" +msg.user+ \"/.node-red/settings.js\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_\"+msg.user+\".json'\"+',\\n' +\n        'userDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/bots/\"+msg.user+\"/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1880,"wires":[["deb8b8f50cf33164","ddf0bab3fd90c130","9b28258175545e87"]]},{"id":"deb8b8f50cf33164","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"filepath","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2900,"y":1880,"wires":[["4fda9db3bd481a1b"]]},{"id":"4fda9db3bd481a1b","type":"debug","z":"35c3a810e5bbdf54","name":"debug 174","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3340,"y":1880,"wires":[]},{"id":"f3d33b95e9e761a6","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1840,"wires":[["55073bc483f4ff9a"]]},{"id":"ddf0bab3fd90c130","type":"function","z":"35c3a810e5bbdf54","name":"function 124","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1840,"wires":[["f3d33b95e9e761a6"]]},{"id":"55073bc483f4ff9a","type":"debug","z":"35c3a810e5bbdf54","name":"debug 175","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1840,"wires":[]},{"id":"64ab97f31687403a","type":"file","z":"35c3a810e5bbdf54","name":"","filename":"/rules/docs/botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":3130,"y":1940,"wires":[["8735863560e37950"]]},{"id":"9b28258175545e87","type":"function","z":"35c3a810e5bbdf54","name":"function 125","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2910,"y":1940,"wires":[["64ab97f31687403a"]]},{"id":"8735863560e37950","type":"debug","z":"35c3a810e5bbdf54","name":"debug 176","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":3460,"y":1940,"wires":[]},{"id":"f1d17696f248d3f9","type":"inject","z":"35c3a810e5bbdf54","d":true,"name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"secrets","payload":"/rules/docs/botsecretandport.csv","payloadType":"str","x":1390,"y":840,"wires":[["3caf5e521f9734bb"]]},{"id":"3caf5e521f9734bb","type":"file in","z":"35c3a810e5bbdf54","name":"","filename":"payload","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":1600,"y":840,"wires":[["9528cf700d44b7d7"]]},{"id":"9528cf700d44b7d7","type":"csv","z":"35c3a810e5bbdf54","name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":1770,"y":840,"wires":[["96b5988b50a0e9cc"]]},{"id":"96b5988b50a0e9cc","type":"function","z":"35c3a810e5bbdf54","name":"set payload","func":"const data = msg.payload;\nmsg.payload = [{_id: msg.topic}, {$set: {data}}, { upsert: true }];\nreturn msg;\n\n/*\nconst data = msg.payload.split(',');\nmsg.payload = [{_id: data[0], \"id\" : data[0]}, {$set: {subid: data[1], escv1: data[2], escv2: data[3], escv3: data[4], limitesc1min: data[5], limitesc1max: data[6], limitesc2min: data[7], limitesc2max: data[8], limitesc3min: data[9], limitesc3max: data[10]}}, { upsert: true }];\nreturn msg;\n*/","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1930,"y":840,"wires":[["e3ffdeb8c1fcc690"]]},{"id":"e3ffdeb8c1fcc690","type":"mongodb4","z":"35c3a810e5bbdf54","clientNode":"e2bc7ac9aa77279e","mode":"collection","collection":"secrets","operation":"updateOne","output":"toArray","maxTimeMS":"","handleDocId":false,"name":"","x":2130,"y":840,"wires":[["a12d3616001a3901"]]},{"id":"a12d3616001a3901","type":"debug","z":"35c3a810e5bbdf54","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2120,"y":760,"wires":[]},{"id":"939ebfef5c4b9894","type":"function","z":"35c3a810e5bbdf54","name":"function 126","func":"msg.payload = \"/rules/docs/botsecretandport.csv\";\nmsg.topic = \"secrets\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":720,"wires":[["3caf5e521f9734bb"]]},{"id":"e6d5b8cccb4af37c","type":"inject","z":"949ed7486287200f","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":\"IBB_bot/1\",\"port\":1881},{\"id\":\"IBB_bot/2\",\"port\":1882}]","payloadType":"json","x":330,"y":140,"wires":[["8e7d76b7d2180998"]]},{"id":"d2be333c952b6926","type":"debug","z":"949ed7486287200f","d":true,"name":"debug 65","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":140,"wires":[]},{"id":"44317f731dd22734","type":"inject","z":"949ed7486287200f","d":true,"name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"Documents\\botsecretandport.csv","payloadType":"str","x":170,"y":180,"wires":[["18dc71fd05f12f91"]]},{"id":"18dc71fd05f12f91","type":"file in","z":"949ed7486287200f","d":true,"name":"","filename":"payload","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":340,"y":180,"wires":[["5ce1f4abe8c4e4cb"]]},{"id":"5ce1f4abe8c4e4cb","type":"csv","z":"949ed7486287200f","d":true,"name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":470,"y":180,"wires":[["d2be333c952b6926","1034f64aa8014652"]]},{"id":"1034f64aa8014652","type":"function","z":"949ed7486287200f","d":true,"name":"function 24","func":"global.set(\"globalbots\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":180,"wires":[[]]},{"id":"8e7d76b7d2180998","type":"function","z":"949ed7486287200f","d":true,"name":"function 25","func":"msg.payload = global.get(\"globalbots\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["d2be333c952b6926"]]},{"id":"8e9b8b0f14d0444a","type":"inject","z":"949ed7486287200f","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"id\":\"IBB_bot/1\",\"port\":1881},{\"id\":\"IBB_bot/2\",\"port\":1882}]","payloadType":"json","x":330,"y":320,"wires":[["f238fac33484d9b5"]]},{"id":"69093ee005940762","type":"debug","z":"949ed7486287200f","d":true,"name":"debug 66","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":320,"wires":[]},{"id":"456f752e86ae7fd9","type":"file in","z":"949ed7486287200f","d":true,"name":"","filename":"payload","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":340,"y":360,"wires":[["f89c25ce74fe3867"]]},{"id":"f89c25ce74fe3867","type":"csv","z":"949ed7486287200f","d":true,"name":"","sep":";","hdrin":true,"hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":false,"x":470,"y":360,"wires":[["69093ee005940762","8a5fb4e9591b17c7"]]},{"id":"8a5fb4e9591b17c7","type":"function","z":"949ed7486287200f","d":true,"name":"function 26","func":"global.set(\"globalmapid\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":360,"wires":[[]]},{"id":"f238fac33484d9b5","type":"function","z":"949ed7486287200f","d":true,"name":"function 27","func":"msg.payload = global.get(\"globalmapid\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["69093ee005940762"]]},{"id":"ab2763956a5cb096","type":"inject","z":"949ed7486287200f","d":true,"name":"Init","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"Documents\\botsecretmapid.csv","payloadType":"str","x":170,"y":360,"wires":[["456f752e86ae7fd9"]]},{"id":"cb7765f3e6cd6077","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1430,"y":200,"wires":[["f4568bee7e8bd086"],[],[]]},{"id":"c2da7372dbeb26a9","type":"inject","z":"949ed7486287200f","d":true,"name":"xoxo1","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"port","v":"1581","vt":"str"},{"p":"user","v":"bot1","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"xoxo1","payload":"echo xoxo1|node-red-admin hash-pw","payloadType":"str","x":1270,"y":180,"wires":[["cb7765f3e6cd6077"]]},{"id":"f4568bee7e8bd086","type":"function","z":"949ed7486287200f","name":"function 31","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n//msg.id = msg.id;\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user1.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user1/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user1/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":200,"wires":[["02a2b9568e2a1381","f9a52826a6b2380e","b57c8049c9be0e34"]]},{"id":"02a2b9568e2a1381","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user1\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1930,"y":200,"wires":[["86e8d6fab939c700"]]},{"id":"86e8d6fab939c700","type":"debug","z":"949ed7486287200f","name":"debug 69","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2220,"y":200,"wires":[]},{"id":"12220985bbdc24b6","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1430,"y":440,"wires":[["29c0d5cb097d162e"],[],[]]},{"id":"7893b7db15e513c8","type":"inject","z":"949ed7486287200f","d":true,"name":"xoxo2","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"port","v":"1582","vt":"str"},{"p":"user","v":"bot2","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"xoxo2","payload":"echo xoxo2|node-red-admin hash-pw","payloadType":"str","x":1270,"y":560,"wires":[["12220985bbdc24b6"]]},{"id":"29c0d5cb097d162e","type":"function","z":"949ed7486287200f","name":"function 32","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n//msg.id = \"IBB_bot/2\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user2.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user2/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user2/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":440,"wires":[["3828bb06075269e9","d31a6199522a7b17","ac0737dcdde10861"]]},{"id":"3828bb06075269e9","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user2\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1930,"y":440,"wires":[["388fc95ad8751cdf"]]},{"id":"388fc95ad8751cdf","type":"debug","z":"949ed7486287200f","name":"debug 70","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2220,"y":440,"wires":[]},{"id":"4aa8dd8a278f1dab","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1430,"y":640,"wires":[["a528d470457832d7"],[],[]]},{"id":"a354a37ed75a3c5c","type":"inject","z":"949ed7486287200f","d":true,"name":"xoxo3","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"port","v":"1583","vt":"str"},{"p":"user","v":"bot3","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"xoxo3","payload":"echo xoxo3|node-red-admin hash-pw","payloadType":"str","x":1270,"y":600,"wires":[["4aa8dd8a278f1dab"]]},{"id":"a528d470457832d7","type":"function","z":"949ed7486287200f","name":"function 33","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n//msg.id = \"IBB_bot/3\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user3.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user3/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user3/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":640,"wires":[["12fe8b807b745bc1","66f5fae1ba4c34e0","5bda1b0c6acdb540"]]},{"id":"12fe8b807b745bc1","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user3\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1930,"y":640,"wires":[["99ff1192eef0d6c1"]]},{"id":"99ff1192eef0d6c1","type":"debug","z":"949ed7486287200f","name":"debug 71","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2220,"y":640,"wires":[]},{"id":"06cbde630d490a5e","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1430,"y":820,"wires":[["7afd74da2b617cc9"],[],[]]},{"id":"16fc3630df04190e","type":"inject","z":"949ed7486287200f","d":true,"name":"xoxo4","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"port","v":"1584","vt":"str"},{"p":"user","v":"bot4","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"4","topic":"xoxo4","payload":"echo xoxo4|node-red-admin hash-pw","payloadType":"str","x":1270,"y":660,"wires":[["06cbde630d490a5e"]]},{"id":"7afd74da2b617cc9","type":"function","z":"949ed7486287200f","name":"function 34","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n//msg.id = \"IBB_bot/4\";\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user4.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user4/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user4/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":820,"wires":[["0ce9ba2552d1a67b","c77b8d07b210cf71","900bbde1493b9247"]]},{"id":"0ce9ba2552d1a67b","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user4\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1930,"y":820,"wires":[["2f10ec8f592cc221"]]},{"id":"2f10ec8f592cc221","type":"debug","z":"949ed7486287200f","name":"debug 72","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2220,"y":820,"wires":[]},{"id":"aaec55c3ac47b3a8","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2020,"y":140,"wires":[["8bc48d732039d2b2"]]},{"id":"f9a52826a6b2380e","type":"function","z":"949ed7486287200f","name":"function 35","func":"msg.payload = 'id;port\\n' +\nmsg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":140,"wires":[["aaec55c3ac47b3a8"]]},{"id":"8bc48d732039d2b2","type":"debug","z":"949ed7486287200f","name":"debug 73","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":140,"wires":[]},{"id":"c8b4b95d3933d2e3","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2020,"y":380,"wires":[["0f3f3d75664c9f72"]]},{"id":"d31a6199522a7b17","type":"function","z":"949ed7486287200f","name":"function 36","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":380,"wires":[["c8b4b95d3933d2e3"]]},{"id":"0f3f3d75664c9f72","type":"debug","z":"949ed7486287200f","name":"debug 74","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":380,"wires":[]},{"id":"9ccc3951ff60e74e","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2020,"y":580,"wires":[["9f48a98db2e102ad"]]},{"id":"66f5fae1ba4c34e0","type":"function","z":"949ed7486287200f","name":"function 37","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":580,"wires":[["9ccc3951ff60e74e"]]},{"id":"9f48a98db2e102ad","type":"debug","z":"949ed7486287200f","name":"debug 75","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":580,"wires":[]},{"id":"c5c84d4f9e3ae0eb","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2020,"y":780,"wires":[["fcc1588aeb853161"]]},{"id":"c77b8d07b210cf71","type":"function","z":"949ed7486287200f","name":"function 38","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":780,"wires":[["c5c84d4f9e3ae0eb"]]},{"id":"fcc1588aeb853161","type":"debug","z":"949ed7486287200f","name":"debug 76","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":780,"wires":[]},{"id":"cfcf4f0e1b520a0b","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2010,"y":260,"wires":[["400d9b6b1a8237c4"]]},{"id":"b57c8049c9be0e34","type":"function","z":"949ed7486287200f","name":"function 39","func":"msg.payload = 'secret;id\\n' +\nmsg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":260,"wires":[["cfcf4f0e1b520a0b"]]},{"id":"400d9b6b1a8237c4","type":"debug","z":"949ed7486287200f","name":"debug 77","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":260,"wires":[]},{"id":"e0a5b5920c886997","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2010,"y":480,"wires":[["12ec1854115e6ffc"]]},{"id":"ac0737dcdde10861","type":"function","z":"949ed7486287200f","name":"function 40","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":480,"wires":[["e0a5b5920c886997"]]},{"id":"12ec1854115e6ffc","type":"debug","z":"949ed7486287200f","name":"debug 78","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":480,"wires":[]},{"id":"f7baaf64fe66fceb","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2010,"y":680,"wires":[["d645e2f672dab232"]]},{"id":"5bda1b0c6acdb540","type":"function","z":"949ed7486287200f","name":"function 41","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":680,"wires":[["f7baaf64fe66fceb"]]},{"id":"d645e2f672dab232","type":"debug","z":"949ed7486287200f","name":"debug 79","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":680,"wires":[]},{"id":"6e0f1fe050fa7e1d","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2010,"y":880,"wires":[["5b5b40636bedca0e"]]},{"id":"900bbde1493b9247","type":"function","z":"949ed7486287200f","name":"function 42","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":880,"wires":[["6e0f1fe050fa7e1d"]]},{"id":"5b5b40636bedca0e","type":"debug","z":"949ed7486287200f","name":"debug 80","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":880,"wires":[]},{"id":"3d02653d8a3a3cd2","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1430,"y":1060,"wires":[["02fcda1eb66ec8bb"],[],[]]},{"id":"02fcda1eb66ec8bb","type":"function","z":"949ed7486287200f","name":"function 46","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user6.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user6/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user6/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1060,"wires":[["b23d953db15daf0e","47de469a696f0e43","bff6c65331ea73b8"]]},{"id":"b23d953db15daf0e","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user6\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1930,"y":1060,"wires":[["358dd0560d509cbf"]]},{"id":"358dd0560d509cbf","type":"debug","z":"949ed7486287200f","name":"debug 89","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2220,"y":1060,"wires":[]},{"id":"fc47e57223763c91","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2020,"y":1020,"wires":[["9e3f4c8e9e24ef7d"]]},{"id":"47de469a696f0e43","type":"function","z":"949ed7486287200f","name":"function 47","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1020,"wires":[["fc47e57223763c91"]]},{"id":"9e3f4c8e9e24ef7d","type":"debug","z":"949ed7486287200f","name":"debug 90","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":1020,"wires":[]},{"id":"d5be1119feaad5f4","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2010,"y":1120,"wires":[["801973876c2b5b8e"]]},{"id":"bff6c65331ea73b8","type":"function","z":"949ed7486287200f","name":"function 48","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1120,"wires":[["d5be1119feaad5f4"]]},{"id":"801973876c2b5b8e","type":"debug","z":"949ed7486287200f","name":"debug 91","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":1120,"wires":[]},{"id":"ce5bc6beb7666a96","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1430,"y":1280,"wires":[["d9bfe2cefeaba25b"],[],[]]},{"id":"d9bfe2cefeaba25b","type":"function","z":"949ed7486287200f","name":"function 49","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user7.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user7/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user7/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":1280,"wires":[["f0ac971f1a8371f1","f2e11934ab28c3a0","708c4fc6eddadc8e"]]},{"id":"f0ac971f1a8371f1","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user7\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1930,"y":1280,"wires":[["69c1be968a009cf6"]]},{"id":"69c1be968a009cf6","type":"debug","z":"949ed7486287200f","name":"debug 92","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2220,"y":1280,"wires":[]},{"id":"1c16a8db2e70dfa8","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2020,"y":1240,"wires":[["6c0b646c2f368bd5"]]},{"id":"f2e11934ab28c3a0","type":"function","z":"949ed7486287200f","name":"function 50","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1240,"wires":[["1c16a8db2e70dfa8"]]},{"id":"6c0b646c2f368bd5","type":"debug","z":"949ed7486287200f","name":"debug 93","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":1240,"wires":[]},{"id":"c21c8d2167cb47ac","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2010,"y":1340,"wires":[["f7bad2f51bde2938"]]},{"id":"708c4fc6eddadc8e","type":"function","z":"949ed7486287200f","name":"function 51","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":1340,"wires":[["c21c8d2167cb47ac"]]},{"id":"f7bad2f51bde2938","type":"debug","z":"949ed7486287200f","name":"debug 94","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2340,"y":1340,"wires":[]},{"id":"1effc3fb2add88ee","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1450,"y":1460,"wires":[["555a5b2265316e75"],[],[]]},{"id":"555a5b2265316e75","type":"function","z":"949ed7486287200f","name":"function 52","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user8.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user8/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user8/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1630,"y":1460,"wires":[["327ed61c76957ee8","e0b0d6b8a17bf312","88cbe81cb7fcdfc4"]]},{"id":"327ed61c76957ee8","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user8\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1950,"y":1460,"wires":[["9fb55dfb0647ec2c"]]},{"id":"9fb55dfb0647ec2c","type":"debug","z":"949ed7486287200f","name":"debug 95","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2240,"y":1460,"wires":[]},{"id":"abe76335e5b6f809","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2040,"y":1420,"wires":[["7ac247c3005b3094"]]},{"id":"e0b0d6b8a17bf312","type":"function","z":"949ed7486287200f","name":"function 53","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":1420,"wires":[["abe76335e5b6f809"]]},{"id":"7ac247c3005b3094","type":"debug","z":"949ed7486287200f","name":"debug 96","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2360,"y":1420,"wires":[]},{"id":"9924eb07a33c474b","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2030,"y":1520,"wires":[["667b7592f6ee6c12"]]},{"id":"88cbe81cb7fcdfc4","type":"function","z":"949ed7486287200f","name":"function 54","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1810,"y":1520,"wires":[["9924eb07a33c474b"]]},{"id":"667b7592f6ee6c12","type":"debug","z":"949ed7486287200f","name":"debug 97","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2360,"y":1520,"wires":[]},{"id":"715a457b13d4b068","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1470,"y":1680,"wires":[["59731151eafcc247"],[],[]]},{"id":"59731151eafcc247","type":"function","z":"949ed7486287200f","name":"function 55","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user9.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user9/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user9/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":1680,"wires":[["71051457c14b3583","237080ef3b3ff0da","1d61bb0dfa75f3d5"]]},{"id":"71051457c14b3583","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user9\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1970,"y":1680,"wires":[["4cd38520cb030ec8"]]},{"id":"4cd38520cb030ec8","type":"debug","z":"949ed7486287200f","name":"debug 98","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2260,"y":1680,"wires":[]},{"id":"0a6ddc1643ad58e3","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2060,"y":1640,"wires":[["7f25af298d519e24"]]},{"id":"237080ef3b3ff0da","type":"function","z":"949ed7486287200f","name":"function 56","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1640,"wires":[["0a6ddc1643ad58e3"]]},{"id":"7f25af298d519e24","type":"debug","z":"949ed7486287200f","name":"debug 99","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2380,"y":1640,"wires":[]},{"id":"0780cbef01e84902","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2050,"y":1740,"wires":[["94d290ca1691a92d"]]},{"id":"1d61bb0dfa75f3d5","type":"function","z":"949ed7486287200f","name":"function 57","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1740,"wires":[["0780cbef01e84902"]]},{"id":"94d290ca1691a92d","type":"debug","z":"949ed7486287200f","name":"debug 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2380,"y":1740,"wires":[]},{"id":"ddfa036e3554734d","type":"exec","z":"949ed7486287200f","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1470,"y":1900,"wires":[["3f9e9f94380c53ef"],[],[]]},{"id":"3f9e9f94380c53ef","type":"function","z":"949ed7486287200f","name":"function 58","func":"var jsondata;\nvar hash = msg.payload.split(':').map(item=>item.trim());\nmsg.hash = hash[1];\nmsg.port = msg.port;\nmsg.user = msg.user;\n\njsondata = \n    'module.exports = {\\n' +\n        'uiPort: process.env.PORT || '+msg.port+',\\n' +\n        'mqttReconnectTime: 15000,\\n' +\n        'serialReconnectTime: 15000,\\n' +\n        'debugMaxLength: 1000,\\n' +\n\n        'flowFile: '+\"'flows_user10.json'\"+',\\n' +\n        'userDir: '+\"'/rules/users/user10/.node-red/'\"+',\\n' +\n        'nodesDir: '+\"'/rules/users/user10/.node-red/nodes'\"+',\\n' +\n\n        'adminAuth: {\\n' +\n            'type: \"credentials\",\\n' +\n            'users: [\\n' +\n              '  {\\n' +\n             '       username: \"ibbroothere\",\\n' +\n            '        password: \"$2b$08$IWR/p.zn8QxfpYjNVSIm9.E/Wg/9VUmeRtRGaWJ3V8lYGQcxPSnxW\",\\n' +\n           '         permissions: \"*\"\\n' +\n          '      }\\n' +\n         '   ]\\n' +\n        '},\\n' +\n\n        'httpNodeAuth: { user: \"'+msg.user+'\", pass: \"'+ hash[1] +'\" },\\n' +\n\n        'functionGlobalContext: {\\n' +\n        '},\\n' +\n        'logging: {\\n' +\n            'console: {\\n' +\n            '    level: \"info\",\\n' +\n           '     metrics: false,\\n' +\n          '      audit: false\\n' +\n         '   }\\n' +\n        '}\\n' +\n    '}\\n'\n\nmsg.payload = jsondata;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":1900,"wires":[["a8fa0a10a5e315ab","b927b6fe9c8c44dc","02e3de16e001e317"]]},{"id":"a8fa0a10a5e315ab","type":"file","z":"949ed7486287200f","name":"","filename":"C:\\dock\\ibb_docker\\rules\\users\\user10\\.node-red\\settings.js","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1980,"y":1900,"wires":[["3076ed03ed5afae8"]]},{"id":"3076ed03ed5afae8","type":"debug","z":"949ed7486287200f","name":"debug 101","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2260,"y":1900,"wires":[]},{"id":"0e73208d05589c41","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretandport.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2060,"y":1860,"wires":[["6008584c415b055e"]]},{"id":"b927b6fe9c8c44dc","type":"function","z":"949ed7486287200f","name":"function 59","func":"msg.payload = msg.topic + ';' + msg.port + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1860,"wires":[["0e73208d05589c41"]]},{"id":"6008584c415b055e","type":"debug","z":"949ed7486287200f","name":"debug 102","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2380,"y":1860,"wires":[]},{"id":"85c2d910d624dfcf","type":"file","z":"949ed7486287200f","name":"","filename":"Documents\\botsecretmapid.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":2050,"y":1960,"wires":[["ddf99db3f59e7851"]]},{"id":"02e3de16e001e317","type":"function","z":"949ed7486287200f","name":"function 60","func":"msg.payload = msg.topic + ';' + msg.id + '\\n'\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1960,"wires":[["85c2d910d624dfcf"]]},{"id":"ddf99db3f59e7851","type":"debug","z":"949ed7486287200f","name":"debug 103","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2380,"y":1960,"wires":[]},{"id":"cb3b0ecc762dbf93","type":"inject","z":"949ed7486287200f","d":true,"name":"","props":[{"p":"payload"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"temperature\":24},{\"device\":\"dQBgXeWLRE\",\"deviceType\":\"Pi4\",\"deviceName\":\"demo-pi-rob\"}]","payloadType":"json","x":230,"y":540,"wires":[["87166c0dafdeea33","df648a9f94b517d5"]]},{"id":"87166c0dafdeea33","type":"debug","z":"949ed7486287200f","d":true,"name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":540,"wires":[]},{"id":"d1dd2a9e3e124f3e","type":"debug","z":"949ed7486287200f","d":true,"name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":520,"wires":[]},{"id":"df648a9f94b517d5","type":"influxdb out","z":"949ed7486287200f","d":true,"influxdb":"dd3d4789a4cdf6e9","name":"","measurement":"botrxdata","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"943f911bc1aa9df3","bucket":"botrxdata","x":630,"y":480,"wires":[]},{"id":"5eda423354c0a369","type":"inject","z":"949ed7486287200f","d":true,"name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"temperature\":74},{\"device\":\"dQBgXeWLRE\",\"deviceType\":\"Pi4\",\"deviceName\":\"demo-pi-rob\"}]","payloadType":"json","x":230,"y":480,"wires":[["df648a9f94b517d5"]]},{"id":"8fad2215e8c052c3","type":"inject","z":"949ed7486287200f","d":true,"name":"","props":[{"p":"payload"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"temperature\":50},{\"device\":\"dQBgXeWLRE\",\"deviceType\":\"Pi4\",\"deviceName\":\"demo-pi-rob\"}]","payloadType":"json","x":390,"y":480,"wires":[["df648a9f94b517d5"]]}]